openapi: 3.0.3
info:
  description: "Generated from UAPI JSON. Code is the interactive documentation: rich\
    \ descriptions, examples, and x-extensions preserved."
  title: UAPI OpenAPI
  version: 1.0.0
externalDocs:
  description: Primary reference page for IntelliSense-as-Docs
  url: https://uapis.cn/docs/api-reference/post-sensitive-word-quick-check
servers:
- url: https://uapis.cn
paths:
  /ai/translate:
    post:
      description: |-
        这是一个高质量的智能翻译服务，支持多种翻译风格和专业场景，适合对译文质量有更高要求的业务场景。

        ## 功能概述

        - **单文本翻译**: 专注处理单条文本翻译，适合需要高质量译文的业务场景。
        - **多风格适配**: 提供随意口语化、专业商务、学术正式、文学艺术四种翻译风格，能够根据不同场景需求调整翻译的语言风格和表达方式。
        - **上下文感知**: 支持通用、商务、技术、医疗、法律、市场营销、娱乐、教育、新闻等九种专业领域的上下文翻译，确保术语准确性和表达地道性。
        - **格式保留**: 智能识别并保持原文的格式结构，包括换行、缩进、特殊符号等，确保翻译后的文本保持良好的可读性。

        ## 支持的语言

        我们支持超过100种语言的互译，详见下方参数列表。
      externalDocs:
        description: Interactive API reference
        url: https://uapis.cn/docs/api-reference/post-ai-translate
      operationId: post-ai-translate
      parameters:
      - description: "目标语言代码。请从[支持的语言列表](#enum-list)中选择一个语言代码。"
        example: zh
        explode: true
        in: query
        name: target_lang
        required: true
        schema:
          enum:
          - sq
          - ga
          - et
          - ar
          - am
          - az
          - be
          - bg
          - eu
          - is
          - pl
          - bs-Latn
          - fa
          - da
          - de
          - ru
          - fr
          - tl
          - fi
          - fy
          - km
          - ka
          - gu
          - ht
          - ko
          - ha
          - kk
          - nl
          - gl
          - ca
          - cs
          - ky
          - kn
          - tlh
          - hr
          - otq
          - co
          - ku
          - la
          - lo
          - lv
          - lt
          - ro
          - lb
          - mg
          - mt
          - mr
          - ms
          - ml
          - mi
          - mk
          - mn
          - bn
          - my
          - mww
          - hmn
          - xh
          - zu
          - ne
          - "false"
          - pa
          - ps
          - pt
          - ny
          - ja
          - sv
          - sr-Latn
          - sr-Cyrl
          - st
          - sm
          - si
          - eo
          - sk
          - sl
          - sw
          - gd
          - so
          - ceb
          - te
          - ta
          - th
          - tg
          - tr
          - cy
          - zh-lzh
          - ur
          - uk
          - uz
          - haw
          - es
          - he
          - el
          - sd
          - hu
          - sn
          - hy
          - ig
          - it
          - yi
          - hi
          - id
          - en
          - su
          - jw
          - yua
          - yo
          - vi
          - zh
          - zh-TW
          example: zh
          type: string
        style: form
        x-tooltip: 例如，'zh' 代表中文简体，'en' 代表英语。
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/post_ai_translate_request"
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/post_ai_translate_200_response"
          description: 翻译成功！返回翻译结果和性能统计。
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/post_ai_translate_400_response"
          description: 请求参数错误。请检查必填参数和参数格式是否正确。
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/post_ai_translate_401_response"
          description: 认证失败。请检查API密钥是否有效。
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/post_ai_translate_429_response"
          description: 请求频率过高。请稍后重试。
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/post_ai_translate_500_response"
          description: 翻译服务内部错误。请稍后重试或联系技术支持。
      summary: AI智能翻译
      tags:
      - Translate
      x-search-words:
      - AI翻译
      - 智能翻译
      - AI translate
      - 翻译风格
      - 上下文翻译
      - 商业翻译
      - 专业翻译
      - 文学翻译
      - 学术翻译
      - 格式保留
      x-docs-url: https://uapis.cn/docs/api-reference/post-ai-translate
  /ai/translate/languages:
    get:
      description: 获取AI智能翻译服务支持的完整语言列表、翻译风格选项、上下文场景选项以及性能指标信息。
      externalDocs:
        description: Interactive API reference
        url: https://uapis.cn/docs/api-reference/get-ai-translate-languages
      operationId: get-ai-translate-languages
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_ai_translate_languages_200_response"
          description: 成功获取AI翻译配置信息
      summary: AI翻译配置
      tags:
      - Translate
      x-search-words:
      - 支持语言
      - 翻译配置
      - 语言列表
      - 翻译风格
      - 上下文选项
      - supported languages
      - translation config
      - language list
      - AI翻译配置
      x-docs-url: https://uapis.cn/docs/api-reference/get-ai-translate-languages
  /answerbook/ask:
    get:
      description: |-
        想要获得人生问题的神秘答案吗？答案之书API提供了一个神奇8球风格的问答服务，你可以提问并获得随机的神秘答案。

        ## 功能概述
        通过向答案之书提问，你将获得一个充满智慧（或许）的随机答案。这个API支持通过查询参数或POST请求体两种方式提问。
      externalDocs:
        description: Interactive API reference
        url: https://uapis.cn/docs/api-reference/get-answerbook-ask
      operationId: get-answerbook-ask
      parameters:
      - description: 你想要提问的问题。问题不能为空。
        example: 我今天会有好运吗？
        explode: true
        in: query
        name: question
        required: true
        schema:
          example: 我今天会有好运吗？
          type: string
        style: form
        x-tooltip: 必填，如："我今天会有好运吗？"、"我应该接受这份工作吗？"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_answerbook_ask_200_response"
          description: 成功获取答案。
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_answerbook_ask_400_response"
          description: 请求参数无效。
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_answerbook_ask_500_response"
          description: 服务器内部错误。
      summary: 答案之书
      tags:
      - Random
      x-search-words:
      - 答案之书
      - 神奇8球
      - 占卜
      - 预测
      - 问答
      - 神秘答案
      - fortune
      - magic 8 ball
      - oracle
      - divination
      x-docs-url: https://uapis.cn/docs/api-reference/get-answerbook-ask
    post:
      description: |-
        通过POST请求向答案之书提问并获得神秘答案。

        ## 功能概述
        与GET方式相同，但通过JSON请求体发送问题，适合在需要发送较长问题或希望避免URL编码问题的场景中使用。

        ## 请求体格式
        请求体必须是有效的JSON格式，包含question字段。
      externalDocs:
        description: Interactive API reference
        url: https://uapis.cn/docs/api-reference/post-answerbook-ask
      operationId: post-answerbook-ask
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/post_answerbook_ask_request"
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/post_answerbook_ask_200_response"
          description: 成功获取答案。
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_answerbook_ask_400_response"
          description: 请求参数无效。
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_answerbook_ask_500_response"
          description: 服务器内部错误。
      summary: 答案之书 (POST)
      tags:
      - Random
      x-search-words:
      - 答案之书
      - 神奇8球
      - 占卜
      - 预测
      - 问答
      - 神秘答案
      - fortune
      - magic 8 ball
      - oracle
      - divination
      - post请求
      x-docs-url: https://uapis.cn/docs/api-reference/post-answerbook-ask
  /api/get:
    get:
      description: |-
        **此接口用于“最高安全等级”方法。**

        您提供第一步中获得的ID，它会返回存储在服务器上的**加密数据**。您需要在自己的客户端中，使用您自己保管的密钥来解密它。
      externalDocs:
        description: Interactive API reference
        url: https://uapis.cn/docs/api-reference/get-clipzy-get
      operationId: get-clipzy-get
      parameters:
      - description: 片段的唯一 ID。
        example: PREF0Zv8Yj
        explode: true
        in: query
        name: id
        required: true
        schema:
          example: PREF0Zv8Yj
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_clipzy_get_200_response"
          description: 获取成功！返回加密并压缩后的数据。
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_clipzy_get_400_response"
          description: 请求参数错误，通常是缺少 `id` 参数。
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_clipzy_get_404_response"
          description: 片段未找到。它可能已过期、被删除或ID不正确。
      servers:
      - url: https://paste.sdjz.wiki
      summary: "步骤2 (方法一): 获取加密数据"
      tags:
      - Clipzy 在线剪贴板
      x-search-words:
      - clipzy
      - paste
      - 剪贴板
      - 加密
      - 获取文本
      - get
      - retrieve
      x-docs-url: https://uapis.cn/docs/api-reference/get-clipzy-get
  /api/raw/{id}:
    get:
      description: |-
        **此接口用于“方便自动化”方法。**

        您提供第一步获得的ID，并附上您自己保管的**解密密钥**作为 `key` 参数。服务器会直接为您解密，并返回纯文本内容。

        > [!IMPORTANT]
        > 查看文档首页的 **cURL 示例**，了解此接口最典型的用法。
      externalDocs:
        description: Interactive API reference
        url: https://uapis.cn/docs/api-reference/get-clipzy-raw
      operationId: get-clipzy-raw
      parameters:
      - description: 片段的唯一 ID。
        example: PREF0Zv8Yj
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: PREF0Zv8Yj
          type: string
        style: simple
      - description: 用于解密的 Base64 编码的 AES 密钥。
        example: ES9tGP0v3e7oqzmAk3vMboxVOOBlvw9RS3DszeW675k=
        explode: true
        in: query
        name: key
        required: true
        schema:
          example: ES9tGP0v3e7oqzmAk3vMboxVOOBlvw9RS3DszeW675k=
          type: string
        style: form
        x-tooltip: 此密钥由客户端在创建加密片段前自行生成，不由服务器提供。请参考文档中的“客户端工作流程”部分。
      responses:
        "200":
          content:
            text/plain; charset=utf-8:
              schema:
                example: Ciallo～(∠・ω< )⌒★
                type: string
          description: 解密并获取成功！响应体为纯文本内容。
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_clipzy_raw_400_response"
          description: 请求参数错误，缺少 ID 或密钥。
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_clipzy_raw_403_response"
          description: 禁止访问。提供的密钥无法解密对应的数据。
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_clipzy_get_404_response"
          description: 片段未找到。它可能已过期、被删除或ID不正确。
      servers:
      - url: https://paste.sdjz.wiki
      summary: "步骤2 (方法二): 获取原始文本"
      tags:
      - Clipzy 在线剪贴板
      x-search-words:
      - clipzy
      - paste
      - 剪贴板
      - 解密
      - 原始文本
      - raw
      - plaintext
      x-docs-url: https://uapis.cn/docs/api-reference/get-clipzy-raw
  /api/store:
    post:
      description: |-
        这是所有流程的第一步。您的客户端应用需要先在本地准备好 **加密后的数据**，然后调用此接口进行上传。成功后，您会得到一个用于后续操作的唯一ID。

        > [!NOTE]
        > 您发送给此接口的应该是**密文**，而不是原始文本。请参考文档首页的JavaScript示例来了解如何在客户端进行加密。
      externalDocs:
        description: Interactive API reference
        url: https://uapis.cn/docs/api-reference/post-clipzy-store
      operationId: post-clipzy-store
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/post_clipzy_store_request"
        description: 包含加密数据和可选的TTL。
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/post_clipzy_store_200_response"
          description: 片段创建成功！返回该片段的唯一ID。
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/post_clipzy_store_400_response"
          description: 请求体缺失、格式错误或参数无效。
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/post_clipzy_store_413_response"
          description: 请求体过大。上传的数据（压缩后）超过了服务器限制。
      servers:
      - url: https://paste.sdjz.wiki
      summary: 步骤1：上传加密数据
      tags:
      - Clipzy 在线剪贴板
      x-search-words:
      - clipzy
      - paste
      - 剪贴板
      - 加密
      - 分享文本
      - 阅后即焚
      - store
      - create
      x-docs-url: https://uapis.cn/docs/api-reference/post-clipzy-store
  /avatar/gravatar:
    get:
      description: 提供稳定、易用的头像获取能力，适合在网页或应用中直接展示头像。
      externalDocs:
        description: Interactive API reference
        url: https://uapis.cn/docs/api-reference/get-avatar-gravatar
      operationId: get-avatar-gravatar
      parameters:
      - description: 用户的 Email 地址。如果未提供 `hash` 参数，则此参数为必需。
        example: shuakami@sdjz.wiki
        explode: true
        in: query
        name: email
        required: false
        schema:
          example: shuakami@sdjz.wiki
          type: string
        style: form
      - description: 用户 Email 地址的小写 MD5 哈希值。如果提供此参数，将忽略 `email` 参数。
        explode: true
        in: query
        name: hash
        required: false
        schema:
          type: string
        style: form
      - description: 头像的尺寸，单位为像素。有效范围是 1 到 2048。
        explode: true
        in: query
        name: s
        required: false
        schema:
          default: 80
          type: integer
        style: form
      - description: "当用户没有自己的 Gravatar 头像时，显示的默认头像类型。可选值包括 `mp`, `identicon`, `monsterid`,\
          \ `wavatar`, `retro`, `robohash`, `blank`, `404`。"
        explode: true
        in: query
        name: d
        required: false
        schema:
          default: mp
          type: string
        style: form
      - description: "头像分级。可选值：`g`, `pg`, `r`, `x`。"
        explode: true
        in: query
        name: r
        required: false
        schema:
          default: g
          type: string
        style: form
      responses:
        "200":
          content:
            image/png:
              schema:
                format: binary
                type: string
          description: 成功响应，返回图片二进制数据。
          headers:
            Content-Type:
              explode: false
              schema:
                example: image/png
                type: string
              style: simple
            ETag:
              explode: false
              schema:
                type: string
              style: simple
            Cache-Control:
              explode: false
              schema:
                example: "public, max-age=3600"
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_avatar_gravatar_400_response"
          description: 当请求中既没有提供 `email` 也没有提供 `hash` 参数时。
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_avatar_gravatar_404_response"
          description: 当 `d=404` 且请求的 email 或 hash 没有对应的 Gravatar 头像时。
      summary: 获取Gravatar头像
      tags:
      - Image
      x-search-words:
      - gravatar
      - avatar
      - 头像
      - email
      - md5
      - 头像代理
      x-docs-url: https://uapis.cn/docs/api-reference/get-avatar-gravatar
  /convert/json:
    post:
      description: |-
        还在为一团乱麻的 JSON 字符串头疼吗？这个接口能瞬间让它变得井井有条，赏心悦目。

        ## 功能概述
        你只需要提供一个原始的、可能是压缩过的或者格式混乱的 JSON 字符串，这个 API 就会返回一个经过美化（带标准缩进和换行）的版本。这在调试 API 响应、或者需要在前端界面清晰展示 JSON 数据时非常有用。

        ## 使用须知
        > [!NOTE]
        > **请求格式**
        > 请注意，待格式化的 JSON 字符串需要被包裹在另一个 JSON 对象中，作为 `content` 字段的值提交。具体格式请参考请求体示例。

        ## 错误处理指南
        - **400 Bad Request**: 最常见的原因是你提供的 `content` 字符串本身不是一个有效的 JSON。请仔细检查括号、引号是否正确闭合，或者有没有多余的逗号等语法错误。
      externalDocs:
        description: Interactive API reference
        url: https://uapis.cn/docs/api-reference/post-convert-json
      operationId: post-convert-json
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/post_convert_json_request"
        description: 这是一个JSON对象，里面必须包含一个名为 `content` 的字段。这个字段的值，就是你希望格式化的、原始的JSON字符串。
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/post_convert_json_200_response"
          description: 格式化成功！返回一个包含美化后JSON字符串的对象。
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/post_convert_json_400_response"
          description: 请求失败。这通常意味着你提供的 `content` 字符串不是一个合法的JSON格式。请检查括号、引号是否匹配，以及末尾是否有多余的逗号等常见错误。
      summary: JSON 格式化
      tags:
      - Convert
      x-search-words:
      - 格式化
      - 美化
      - 校验
      - 验证
      - 压缩
      - 字符串
      - prettify
      - beautify
      - format
      - validate
      - parse
      x-seo-optimized-text: 免费JSON格式化API接口，快速美化和格式化JSON字符串。支持JSON校验、压缩、美化等功能。专业的JSON处理工具，适用于API调试、数据展示、开发调试等场景。
      x-seo-keywords:
      - 免费JSON格式化API
      - JSON美化接口
      - JSON校验API
      - JSON解析服务
      - JSON处理工具
      - JSON prettify
      - 数据格式化API
      x-seo-title: 免费JSON格式化美化API接口 - JSON字符串处理服务
      x-seo-usage-scenarios: 适用于API响应调试、前端数据展示、配置文件美化、JSON数据校验、开发工具集成、代码格式化、数据可视化等场景
      x-seo-related-apis:
      - 文本处理
      - 数据校验
      - 格式转换
      - 开发工具
      x-docs-url: https://uapis.cn/docs/api-reference/post-convert-json
  /convert/unixtime:
    get:
      description: |-
        时间戳和日期字符串，哪个用着更顺手？别纠结了，这个接口让你轻松拥有两种格式！

        ## 功能概述
        这是一个非常智能的转换器。你给它一个 Unix 时间戳，它还你一个人类可读的日期时间；你给它一个日期时间字符串，它还你一个 Unix 时间戳。它会自动识别你输入的是哪种格式。

        ## 使用须知
        这个接口非常智能，能够自动识别输入格式：

        - **输入时间戳**：支持10位秒级（如 `1672531200`）和13位毫秒级（如 `1672531200000`）。
        - **输入日期字符串**：为了确保准确性，推荐使用 `YYYY-MM-DD HH:mm:ss` 标准格式（如 `2023-01-01 08:00:00`）。

        > [!TIP]
        > 无论你输入哪种格式，响应中都会同时包含标准日期字符串和秒级Unix时间戳，方便你按需取用。

        ## 错误处理指南
        - **400 Bad Request**: 如果你提供的 `time` 参数既不是有效的时间戳，也不是我们支持的日期格式，就会收到这个错误。请检查你的输入值。
      externalDocs:
        description: Interactive API reference
        url: https://uapis.cn/docs/api-reference/get-convert-unixtime
      operationId: get-convert-unixtime
      parameters:
      - description: 一个智能时间参数，可传入Unix时间戳（10位或13位）或标准日期字符串（如 '2023-10-27 10:30:00'），系统将自动识别并转换。
        example: "1698380645"
        explode: true
        in: query
        name: time
        required: true
        schema:
          example: "1698380645"
          type: string
        style: form
        x-tooltip: 传入时间戳返回日期，传入日期返回时间戳。
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_convert_unixtime_200_response"
          description: 转换成功！响应中会同时包含标准日期字符串和秒级Unix时间戳，方便你使用。
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_convert_unixtime_400_response"
          description: 请求失败。请检查你提供的 `time` 参数是否是有效的时间戳或我们支持的日期格式（YYYY-MM-DD HH:mm:ss）。
      summary: 时间戳转换
      tags:
      - Convert
      x-search-words:
      - 时间戳
      - 日期
      - 转换
      - timestamp
      - unixtime
      - datetime
      - date
      - format
      - 时间格式化
      - 毫秒
      - 秒
      x-seo-optimized-text: 免费Unix时间戳转换API接口，支持时间戳与日期字符串双向转换。提供多种日期格式，支持时区转换。专业的时间处理工具，适用于系统开发、数据处理、日志分析等场景。
      x-seo-keywords:
      - 免费时间戳转换API
      - Unix时间戳API
      - 日期转换接口
      - 时间格式化服务
      - 时间戳工具API
      - 日期时间API
      - 时间处理接口
      x-seo-title: 免费Unix时间戳转换API接口 - 日期时间格式化服务
      x-seo-usage-scenarios: 适用于系统日志处理、数据库时间字段、API时间参数、前端时间展示、数据分析、定时任务、事件记录等场景
      x-seo-related-apis:
      - 文本处理
      - 数据格式化
      - 系统工具
      - 开发辅助
      x-docs-url: https://uapis.cn/docs/api-reference/get-convert-unixtime
  /daily/news-image:
    get:
      description: |-
        想用一张图快速了解天下大事？这个接口为你一键生成今日新闻摘要，非常适合用在早报、数字看板或应用首页等场景。

        ## 功能概述
        此接口会实时抓取各大平台的热点新闻，并动态地将它们渲染成一张清晰、美观的摘要图片。你调用接口，直接就能得到一张可以展示的图片。

        ## 使用须知
        调用此接口时，请务必注意以下两点：

        1.  **响应格式是图片**：接口成功时直接返回 `image/jpeg` 格式的二进制数据，而非 JSON。请确保你的客户端能正确处理二进制流，例如直接在 `<img>` 标签中显示，或保存为 `.jpg` 文件。

        2.  **设置合理超时**：由于涉及实时新闻抓取和图片渲染，处理过程可能耗时数秒。建议将客户端请求超时时间设置为至少10秒，以防止因等待过久而失败。

        > [!IMPORTANT]
        > 未能正确处理图片响应或超时设置过短，是导致调用失败的最常见原因。
      externalDocs:
        description: Interactive API reference
        url: https://uapis.cn/docs/api-reference/get-daily-news-image
      operationId: get-daily-news-image
      parameters: []
      responses:
        "200":
          content:
            image/jpeg:
              schema:
                format: binary
                type: string
          description: 请求成功！响应体是JPEG格式的图片二进制数据。你可以直接将其显示或保存为图片文件。
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_daily_news_image_500_response"
          description: 服务器内部错误。暂时无法生成图片，请稍后重试。
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_daily_news_image_502_response"
          description: 暂时无法获取相关内容，请稍后重试。
      summary: 每日新闻图
      tags:
      - Daily
      x-search-words:
      - 新闻
      - 早报
      - 日报
      - 摘要
      - 热点
      - 资讯
      - 图片生成
      - news
      - summary
      - image
      - 简报
      x-seo-optimized-text: 免费每日新闻摘要图片生成API接口，自动抓取热点新闻并生成精美的摘要图片。支持实时新闻、热点资讯、日报生成。适用于新闻应用、数字看板、社交分享等场景。
      x-seo-keywords:
      - 免费新闻摘要API
      - 新闻图片生成接口
      - 每日新闻API
      - 热点资讯服务
      - 新闻早报API
      - 图片生成API
      - 新闻摘要工具
      x-seo-title: 免费每日新闻摘要图片生成API - 热点资讯图片服务
      x-seo-usage-scenarios: 适用于新闻应用首页、企业数字看板、社交媒体分享、个人博客配图、微信公众号素材、教育机构资讯展示等场景
      x-seo-related-apis:
      - 图片处理
      - 内容生成
      - 数据抓取
      - 图片合成
      x-docs-url: https://uapis.cn/docs/api-reference/get-daily-news-image
  /daily/word:
    get:
      description: |-
        想给你的学习打卡、英语小组件或机器人推送加一个『每日单词』？这个接口每天给你一个稳定的单词，同一天多次请求结果一致。

        ## 功能概述
        默认返回 1 个英文单词，支持按词库范围筛选，可选择是否附带例句和音标。也可以用 `count` 一次返回多个词，用于词汇复习列表。

        ## 词库选项
        - `all`：全部英文词库，适合通用每日推荐。
        - `cet4`：大学英语四级词汇，适合基础复习。
        - `cet6`：大学英语六级词汇，适合进阶复习。
        - `ielts`：雅思词汇，适合留学考试准备。
        - `toefl`：托福词汇，适合北美考试准备。
        - `gre`：GRE 词汇，适合高阶词汇训练。

        ## 使用须知
        > [!IMPORTANT]
        > `date` 与 `seed` 用于复现某一天或某个固定的取词结果，二者不能同时传入。
      externalDocs:
        description: Interactive API reference
        url: https://uapis.cn/docs/api-reference/get-daily-word
      operationId: get-daily-word
      parameters:
      - description: 语种，目前支持 en，默认 en。
        example: en
        explode: true
        in: query
        name: lang
        required: false
        schema:
          default: en
          enum:
          - en
          example: en
          type: string
        style: form
      - description: 词库范围：all/cet4/cet6/ielts/toefl/gre，默认 all。
        explode: true
        in: query
        name: category
        required: false
        schema:
          default: all
          enum:
          - all
          - cet4
          - cet6
          - ielts
          - toefl
          - gre
          type: string
        style: form
      - description: 返回数量，1-20，默认 1。
        example: 3
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 1
          example: 3
          type: integer
        style: form
      - description: 日期，格式 YYYY-MM-DD，作为每日单词的种子基准。
        explode: true
        in: query
        name: date
        required: false
        schema:
          type: string
        style: form
      - description: 固定种子，结果可复现；不可与 date 同时使用。
        explode: true
        in: query
        name: seed
        required: false
        schema:
          type: integer
        style: form
      - description: 是否返回例句，默认 true。
        explode: true
        in: query
        name: example
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: 是否返回音标，默认 true。
        explode: true
        in: query
        name: phonetic
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: 是否为每个单词附带详细释义（音标发音、中英释义、词形、词组、近义词、双语例句），默认 false。
        explode: true
        in: query
        name: define
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_daily_word_200_response"
          description: 生成成功，返回每日单词列表。
        "400":
          description: 参数错误，例如不支持的词库、count 超出范围，或 date 与 seed 同时传入。
      summary: 每日单词
      tags:
      - Daily
      x-search-words:
      - 每日单词
      - 英语单词
      - 背单词
      - cet4
      - cet6
      - ielts
      - toefl
      - gre
      - daily word
      x-docs-url: https://uapis.cn/docs/api-reference/get-daily-word
  /dictionary/audio:
    get:
      description: |-
        光看音标不知道怎么读？用这个接口为单词配上纯正的真人发音，并且支持英式与美式两种口音自由切换。

        ## 功能概述
        只需传入单词文本和所需的口音类型，接口就会直接响应 `.mp3` 格式的二进制音频流。你可以直接把接口地址塞进前端的 `<audio>` 标签里播放，或者将其下载保存为本地音频文件。另外，“单词查询”接口中返回的 `audio` 字段，实际上也就是直接拼装好的本接口地址。

        ## 使用须知
        > [!NOTE]
        > 本接口成功调用时返回的是 `audio/mpeg` 格式的二进制音频流，而不是常规的 JSON。如果在代码里使用 Fetch 或 Axios 调用并处理返回数据，请务必以 `blob` 或 `arraybuffer` 的形式接收响应内容。
      externalDocs:
        description: Interactive API reference
        url: https://uapis.cn/docs/api-reference/get-dictionary-audio
      operationId: get-dictionary-audio
      parameters:
      - description: 要发音的英文单词，长度不超过 64 个字符。
        example: present
        explode: true
        in: query
        name: word
        required: true
        schema:
          example: present
          type: string
        style: form
      - description: 口音偏好：uk（英式）或 us（美式），默认 uk。
        explode: true
        in: query
        name: accent
        required: false
        schema:
          default: uk
          enum:
          - uk
          - us
          type: string
        style: form
      responses:
        "200":
          content:
            audio/mpeg:
              schema:
                format: binary
                type: string
          description: 请求成功，响应体为 MP3 格式的二进制音频数据。
        "400":
          description: 参数错误。例如 word 参数为空或 accent 指定了不支持的口音。
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_dictionary_audio_404_response"
          description: 未找到该单词的音频文件。
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_dictionary_audio_502_response"
          description: 发音服务暂时不可用，请稍后重试。
      summary: 单词发音
      tags:
      - Dictionary
      x-search-words:
      - 发音
      - 读音
      - 朗读
      - 英式
      - 美式
      - audio
      - pronunciation
      - mp3
      x-seo-optimized-text: 免费英文单词发音API接口，返回单词的真人发音音频（MP3），支持英式（uk）和美式（us）口音。适用于背单词、朗读练习、英语听力等场景。
      x-seo-keywords:
      - 单词发音API
      - 英语发音接口
      - 真人发音MP3
      - 英式美式发音
      - 单词朗读API
      x-seo-title: 免费英文单词发音API - 英式/美式真人发音MP3接口
      x-docs-url: https://uapis.cn/docs/api-reference/get-dictionary-audio
  /dictionary/lookup:
    get:
      description: |-
        想在自己的背单词应用、阅读插件或聊天机器人里加个查词功能？输入一个英文单词，就能立刻拿到一本详尽的“微型词典”。

        ## 功能概述
        传入你要查询的英文单词，接口会返回一整份全方位的词条数据。数据结构是高度动态的——如果某个单词没有常见词组或近义词，对应的字段会自动省略，方便前端精简渲染。

        ## 返回内容涵盖
        - **音标与发音** (`phonetics`)：包含英式（UK）与美式（US）音标，以及可直接在前端播放的发音音频链接。
        - **中文释义** (`definitions`)：按词性归类的中文翻译。
        - **英英释义** (`english_definitions`)：英文原汁原味的解释及附带的短例句。
        - **词形变化** (`word_forms`)：复数、过去式、比较级等形态转换。
        - **词组与近义词** (`phrases` / `synonyms`)：常见的搭配词组，以及按词性归类的近义词。
        - **双语例句** (`examples`)：真实语境下的中英双语例句。
      externalDocs:
        description: Interactive API reference
        url: https://uapis.cn/docs/api-reference/get-dictionary-lookup
      operationId: get-dictionary-lookup
      parameters:
      - description: 要查询的英文单词，长度不超过 64 个字符。
        example: present
        explode: true
        in: query
        name: word
        required: true
        schema:
          example: present
          type: string
        style: form
      - description: 目标语种。目前仅支持 en（默认）。
        explode: true
        in: query
        name: lang
        required: false
        schema:
          default: en
          enum:
          - en
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_dictionary_lookup_200_response"
          description: 查询成功，返回该单词的完整词条数据。
        "400":
          description: 参数错误。例如 word 参数为空或超过了最大长度限制。
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_dictionary_lookup_404_response"
          description: 未找到该单词的释义，可能是由于拼写错误或词库暂未收录。
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_dictionary_lookup_502_response"
          description: 查词服务暂时不可用，请稍后重试。
      summary: 单词查询
      tags:
      - Dictionary
      x-search-words:
      - 查词
      - 单词查询
      - 英语单词
      - 释义
      - 音标
      - 例句
      - 近义词
      - 词组
      - dictionary
      - lookup
      - define
      x-seo-optimized-text: 免费英文单词查询API接口，输入单词即可返回音标、真人发音、中文释义、英英释义、词形变化、常见词组、近义词和双语例句。适用于背单词应用、词典工具、英语学习卡片、聊天机器人等场景。
      x-seo-keywords:
      - 英语单词查询API
      - 在线词典接口
      - 单词释义API
      - 音标发音接口
      - 英汉词典API
      - 双语例句
      - 背单词API
      x-seo-title: 免费英文单词查询API - 在线词典释义/音标/例句接口
      x-seo-usage-scenarios: 适用于背单词应用、英语学习卡片、词典小程序、浏览器划词翻译、英语教学工具、聊天机器人查词等场景
      x-seo-related-apis:
      - 内容生成
      - 翻译
      - 学习工具
      x-docs-url: https://uapis.cn/docs/api-reference/get-dictionary-lookup
  /game/epic-free:
    get:
      description: |-
        白嫖党的福音来了！想第一时间知道Epic商店本周送了哪些游戏大作吗？

        ## 功能概述
        这个接口帮你实时追踪Epic Games商店的每周免费游戏活动。无需任何参数，调用后即可获得当前所有免费游戏的完整信息，包括游戏封面、原价、剩余时间等，再也不用担心错过心仪的免费游戏了！

        ## 使用场景
        - 开发游戏资讯应用或网站
        - 制作Epic免费游戏推送机器人
        - 为用户提供游戏收藏建议
        - 构建个人游戏库管理工具

        > [!TIP]
        > **关于时间格式**
        > 为了方便不同场景的使用，我们同时提供了可读的时间字符串（如 `2025/01/10 00:00:00`）和13位毫秒时间戳。前端显示用字符串，程序逻辑用时间戳
      externalDocs:
        description: Interactive API reference
        url: https://uapis.cn/docs/api-reference/get-game-epic-free
      operationId: get-game-epic-free
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_game_epic_free_200_response"
          description: 获取成功！白嫖成功，返回当前Epic Games商店的免费游戏大礼包。
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_game_epic_free_500_response"
          description: Epic Games 免费游戏服务暂时不可用，请稍后再试
      summary: Epic 免费游戏
      tags:
      - Game
      x-search-words:
      - epic
      - epic games
      - 免费游戏
      - 每周免费
      - 白嫖
      - 游戏
      - 限时免费
      - epic商店
      - free games
      - weekly free
      x-docs-url: https://uapis.cn/docs/api-reference/get-game-epic-free
  /game/minecraft/historyid:
    get:
      description: |-
        想知道某个大佬以前叫什么名字吗？这个接口可以帮你追溯一个 Minecraft 玩家的“黑历史”！

        ## 功能概述
        通过提供玩家的用户名或 UUID，你可以获取到该玩家所有曾用名及其变更时间的列表。这对于识别回归的老玩家或者社区管理非常有用。

        ## 使用须知
        > [!NOTE]
        > **参数说明**
        > - `name` 和 `uuid` 二选一
        > - UUID 支持带连字符（如 `ee9b4ed1-aac1-491e-b761-1471be374b80`）或不带连字符格式

        > [!IMPORTANT]
        > **响应结构差异**
        > - 使用 `uuid` 查询：返回单个用户的历史记录
        > - 使用 `name` 查询：返回所有匹配用户的列表（包括当前用户名或曾用名匹配的玩家），需判断响应中是否有 `results` 字段来区分两种模式
      externalDocs:
        description: Interactive API reference
        url: https://uapis.cn/docs/api-reference/get-game-minecraft-historyid
      operationId: get-game-minecraft-historyid
      parameters:
      - description: 玩家的 Minecraft 用户名。使用此参数查询时，会返回所有匹配用户的列表（包括当前用户名或曾用名匹配的玩家）。
        example: ExamplePlayer
        explode: true
        in: query
        name: name
        required: false
        schema:
          example: ExamplePlayer
          type: string
        style: form
        x-tooltip: 输入用户名，返回所有匹配的玩家列表
      - description: 玩家的 Minecraft UUID，支持带连字符或不带连字符格式。
        example: ee9b4ed1-aac1-491e-b761-1471be374b80
        explode: true
        in: query
        name: uuid
        required: false
        schema:
          example: ee9b4ed1-aac1-491e-b761-1471be374b80
          type: string
        style: form
        x-tooltip: "格式示例: ee9b4ed1-aac1-491e-b761-1471be374b80"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_game_minecraft_historyid_200_response"
          description: |-
            查询成功！根据查询方式返回不同结构：
            - **uuid 查询**：返回单个用户的历史记录
            - **name 查询**：返回匹配用户列表（判断响应中是否有 `results` 字段来区分）
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_game_minecraft_historyid_400_response"
          description: 请求失败。请检查你是否提供了 `name` 或 `uuid` 参数中的至少一个。
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_game_minecraft_historyid_404_response"
          description: 用户未找到。我们根据你提供的 UUID 未能找到对应的 Minecraft 玩家。请确认 UUID 是否正确。
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_game_minecraft_historyid_502_response"
          description: 服务暂时不可用，请稍后重试。
      summary: 查询 MC 曾用名
      tags:
      - Game
      x-search-words:
      - minecraft
      - mc
      - 我的世界
      - 曾用名
      - 历史用户名
      - 改名记录
      - uuid
      - 玩家查询
      - mojang
      - id
      - name
      - 用户名
      x-seo-optimized-text: 免费Minecraft玩家曾用名查询API，我的世界历史用户名追溯接口。通过用户名或UUID查询玩家所有历史名称及变更时间。稳定可靠的MC玩家历史数据API服务，适用于服务器管理、玩家识别、社区运营等场景。
      x-seo-keywords:
      - 免费Minecraft API
      - MC曾用名查询
      - 我的世界历史ID
      - Minecraft改名记录
      - 玩家历史用户名
      - UUID查询API
      - Mojang玩家数据
      x-seo-title: 免费Minecraft玩家曾用名查询API - MC历史用户名追溯
      x-seo-usage-scenarios: 适用于Minecraft服务器管理、玩家身份追溯、社区运营、封禁记录关联、老玩家识别、游戏数据分析等场景
      x-seo-related-apis:
      - Minecraft玩家信息
      - Minecraft服务器状态
      - Steam用户信息
      - 游戏数据API
      x-docs-url: https://uapis.cn/docs/api-reference/get-game-minecraft-historyid
  /game/minecraft/mods:
    get:
      description: |-
        想给你的启动器、服务器面板或资源推荐页加上 Mod/插件搜索？这个接口一次帮你检索 Modrinth 与 SpigotMC 上的资源。

        ## 功能概述
        传入关键词，即可拿到资源名称、简介、作者、下载量、评分、项目页和下载地址。可以用 `source` 指定只搜某个平台，用 `type` 过滤资源类型，用 `limit` 控制每个平台返回的数量。

        ## 使用须知
        > [!NOTE]
        > 默认会补全作者名与下载直链。如果只想要更快的基础搜索结果，设置 `enrich=false` 即可降低延迟。
      externalDocs:
        description: Interactive API reference
        url: https://uapis.cn/docs/api-reference/get-game-minecraft-mods
      operationId: get-game-minecraft-mods
      parameters:
      - description: 搜索关键词，也可使用别名 `q`。
        example: sodium
        explode: true
        in: query
        name: query
        required: true
        schema:
          example: sodium
          type: string
        style: form
      - description: 搜索来源，默认 all。
        explode: true
        in: query
        name: source
        required: false
        schema:
          default: all
          enum:
          - all
          - modrinth
          - spigotmc
          type: string
        style: form
      - description: 资源类型过滤，例如 mod 或 plugin。
        example: mod
        explode: true
        in: query
        name: type
        required: false
        schema:
          example: mod
          type: string
        style: form
      - description: 每个来源返回的最大条数，默认 10，最大 50。
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          example: 10
          type: integer
        style: form
      - description: 是否补全下载直链与作者名，默认 true；传 false 可降低延迟。
        example: true
        explode: true
        in: query
        name: enrich
        required: false
        schema:
          default: true
          example: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_game_minecraft_mods_200_response"
          description: 搜索成功，返回聚合后的资源列表。
        "400":
          description: 缺少 query 参数。
        "502":
          description: 搜索服务暂时不可用，请稍后重试。
      summary: 搜索 MC Mod/插件
      tags:
      - Game
      x-search-words:
      - minecraft
      - mod
      - plugin
      - modrinth
      - spigotmc
      - spiget
      - 插件
      - 模组
      x-docs-url: https://uapis.cn/docs/api-reference/get-game-minecraft-mods
  /game/minecraft/serverstatus:
    get:
      description: |-
        想在加入服务器前看看有多少人在线？或者检查一下服务器开没开？用这个接口就对了！

        ## 功能概述
        你可以通过提供服务器地址（域名或IP），来获取一个 Minecraft Java 版服务器的实时状态。返回信息包括服务器是否在线、当前玩家数、最大玩家数、服务器版本、MOTD（每日消息）以及服务器图标等。

        如果服务器返回当前在线玩家列表，响应里还会带上 `online_players` 字段。这个字段可能省略，部分服务器返回的列表也可能不完整。
      externalDocs:
        description: Interactive API reference
        url: https://uapis.cn/docs/api-reference/get-game-minecraft-serverstatus
      operationId: get-game-minecraft-serverstatus
      parameters:
      - description: Minecraft服务器的地址，可以是域名（如 `hypixel.net`）或 `IP:端口` 的形式（如 `mc.example.com:25565`）。如果省略端口，将默认使用
          `25565`。
        example: play.minedhype.com
        explode: true
        in: query
        name: server
        required: true
        schema:
          example: play.minedhype.com
          type: string
        style: form
        x-tooltip: "例如: mc.example.com"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_game_minecraft_serverstatus_200_response"
          description: 查询成功！返回服务器的详细状态信息。
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_game_minecraft_serverstatus_400_response"
          description: 请求失败。请检查你是否提供了 `server` 参数。
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_game_minecraft_serverstatus_404_response"
          description: 服务器未找到。这可能意味着你提供的服务器地址无法解析，或者服务器当前处于离线状态。
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_game_minecraft_serverstatus_502_response"
          description: 查询失败。在尝试连接并获取服务器信息时发生网络错误或协议错误。
      summary: 查询 MC 服务器
      tags:
      - Game
      x-search-words:
      - minecraft
      - mc
      - 我的世界
      - 服务器状态
      - 服务器信息
      - 在线人数
      - 在线玩家列表
      - motd
      - ping
      - server status
      - java
      x-seo-optimized-text: 免费Minecraft服务器状态查询API，实时获取MC Java版服务器在线状态、玩家人数、服务器版本、MOTD和图标。支持Hypixel等主流服务器查询，无需注册即可调用。适用于服务器监控、玩家社区、MC工具开发等场景。
      x-seo-keywords:
      - Minecraft服务器查询API
      - MC服务器状态
      - 我的世界服务器API
      - Minecraft在线人数查询
      - MC服务器监控
      - Hypixel服务器状态
      - 免费MC API
      - 服务器Ping
      x-seo-title: Minecraft服务器状态查询API - 在线人数实时监控
      x-seo-usage-scenarios: 适用于Minecraft服务器监控面板、玩家社区网站、MC服务器列表、游戏启动器、Discord机器人等场景
      x-seo-related-apis:
      - Minecraft玩家信息查询
      - Minecraft历史ID查询
      - Steam用户信息
      x-docs-url: https://uapis.cn/docs/api-reference/get-game-minecraft-serverstatus
  /game/minecraft/userinfo:
    get:
      description: |-
        只需要一个玩家的用户名，就能快速获取到他的正版皮肤和独一无二的UUID！

        ## 功能概述
        这是一个基础但非常实用的接口。通过玩家当前的游戏内名称（Username），你可以查询到他对应的UUID（唯一标识符）和当前皮肤的URL地址。这是构建许多其他玩家相关服务的第一步。
      externalDocs:
        description: Interactive API reference
        url: https://uapis.cn/docs/api-reference/get-game-minecraft-userinfo
      operationId: get-game-minecraft-userinfo
      parameters:
      - description: 玩家的 Minecraft 游戏内名称（正版ID）。
        example: Notch
        explode: true
        in: query
        name: username
        required: true
        schema:
          example: Notch
          type: string
        style: form
        x-tooltip: "例如: Notch"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_game_minecraft_userinfo_200_response"
          description: 查询成功！返回用户的UUID和皮肤链接。
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_game_minecraft_userinfo_400_response"
          description: 请求失败。请检查你是否提供了 `username` 参数。
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_game_minecraft_userinfo_404_response"
          description: 玩家未找到。根据你提供的用户名，未能找到对应的 Minecraft 玩家。请检查拼写是否正确。
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_game_minecraft_userinfo_502_response"
          description: 暂时无法获取相关游戏数据，请稍后重试。
      summary: 查询 MC 玩家
      tags:
      - Game
      x-search-words:
      - minecraft
      - mc
      - 我的世界
      - 玩家信息
      - 查uuid
      - 皮肤
      - skin
      - 正版查询
      - username
      - id
      x-seo-optimized-text: 免费Minecraft玩家信息查询API，通过用户名获取正版玩家UUID和皮肤URL。支持快速验证正版账号，获取高清皮肤图片。无需注册，即调即用。适用于服务器管理、玩家验证、皮肤展示等场景。
      x-seo-keywords:
      - 免费Minecraft API
      - MC玩家查询
      - 我的世界UUID查询
      - Minecraft皮肤API
      - 正版玩家验证
      - MC用户名查询
      - 游戏玩家信息API
      - Mojang API
      x-seo-title: 【免费】Minecraft玩家信息查询API - UUID/皮肤一键获取
      x-seo-usage-scenarios: 适用于Minecraft服务器管理、玩家身份验证、皮肤展示系统、玩家数据统计、游戏社区应用、MC工具开发等场景
      x-seo-related-apis:
      - Minecraft服务器状态
      - Minecraft历史ID查询
      - Steam用户信息
      - 游戏数据API
      x-docs-url: https://uapis.cn/docs/api-reference/get-game-minecraft-userinfo
  /game/minecraft/version:
    get:
      description: |-
        需要在启动器、服务器面板或机器人里实时显示 Minecraft 的最新版本？这个接口帮你一键拿到当前的正式版和快照版。

        ## 功能概述
        无需任何参数，直接返回最新正式版（latest release）、最新快照版（latest snapshot）以及完整的版本列表。适合做版本提示、更新检测或服务端版本看板。

        ## 使用须知
        > [!NOTE]
        > 数据会随新版本发布而更新，建议在客户端适当缓存，无需高频轮询。
      externalDocs:
        description: Interactive API reference
        url: https://uapis.cn/docs/api-reference/get-game-minecraft-version
      operationId: get-game-minecraft-version
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_game_minecraft_version_200_response"
          description: 查询成功，返回当前最新版本信息。
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_game_minecraft_version_503_response"
          description: 服务暂时不可用，请稍后重试。
      summary: Minecraft 最新版本
      tags:
      - Game
      x-search-words:
      - minecraft
      - mc
      - 我的世界
      - 最新版本
      - 正式版
      - 快照版
      - release
      - snapshot
      - version
      x-docs-url: https://uapis.cn/docs/api-reference/get-game-minecraft-version
  /game/steam/servers:
    get:
      description: |-
        想在自己的面板或社区里展示某款游戏的在线服务器？这个接口支持查询使用 A2S/Steam 服务器列表的多人游戏，例如 SCUM、ARK、Rust、CS2 等。

        ## 功能概述
        传入游戏的 Steam AppID，即可获取当前在线的服务器列表，包含名称、IP、端口、当前/最大人数、地图等信息。你还可以用 `name` 做服务器名称模糊搜索，用 `limit` 控制返回数量。

        ## 常见 AppID
        - SCUM：`513710`
        - ARK：`346110`
        - Rust：`252490`
        - Counter-Strike 2：`730`

        ## 使用须知
        > [!NOTE]
        > 不确定游戏的 AppID？可以在 Steam 商店页地址中找到，或参考上面的常见 AppID 列表。
      externalDocs:
        description: Interactive API reference
        url: https://uapis.cn/docs/api-reference/get-game-steam-servers
      operationId: get-game-steam-servers
      parameters:
      - description: Steam 游戏 AppID，必须是正整数。
        example: 513710
        explode: true
        in: query
        name: appid
        required: true
        schema:
          example: 513710
          type: integer
        style: form
        x-tooltip: 例如 SCUM=513710，Rust=252490。
      - description: 服务器名称关键词，可选，支持模糊搜索。
        example: SCUM
        explode: true
        in: query
        name: name
        required: false
        schema:
          example: SCUM
          type: string
        style: form
      - description: 返回数量上限，默认 20，最大 100。
        example: 20
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          example: 20
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_game_steam_servers_200_response"
          description: 查询成功，返回匹配的游戏服务器列表。
        "400":
          description: 参数错误，例如缺少 appid 或 appid 不是有效正整数。
        "401":
          description: 服务暂时不可用，请稍后重试。
        "502":
          description: 服务暂时不可用，请稍后重试。
      summary: 查询 Steam 游戏服务器
      tags:
      - Game
      x-search-words:
      - steam
      - a2s
      - 服务器
      - 游戏服务器
      - scum
      - ark
      - rust
      - cs2
      - appid
      x-docs-url: https://uapis.cn/docs/api-reference/get-game-steam-servers
  /game/steam/summary:
    get:
      description: |-
        想在你的网站或应用中展示用户的 Steam 个人资料？这个接口就是为你准备的。

        ## 功能概述
        通过一个用户的 Steam 标识（支持多种格式），你可以获取到他公开的个人资料摘要，包括昵称、头像、在线状态、真实姓名（如果公开）和个人资料主页URL等信息。

        ## 支持的参数格式
        接口现在支持以下几种标识符格式：
        - **`steamid`**: 64位SteamID（如 `76561197960287930`）
        - **`id`**: 自定义URL名称（如 `gabelogannewell`）
        - **`id3`**: Steam ID3格式（如 `STEAM_0:0:22202`）
        - 完整的个人资料链接
        - 好友代码

        ## 使用须知

        > [!IMPORTANT]
        > **访问凭证说明**
        > 这个接口可以传 `key` 使用您自己的访问凭证。如果您选择传入，请注意妥善保管，不要把它写进公开的前端代码中。

        在处理响应时，请注意以下数字代码的含义：
        - **`personastate` (用户状态)**: 0-离线, 1-在线, 2-忙碌, 3-离开, 4-打盹, 5-想交易, 6-想玩。
        - **`communityvisibilitystate` (社区可见性)**: 1-私密, 3-公开 (API通常只能查到这两种状态)。
      externalDocs:
        description: Interactive API reference
        url: https://uapis.cn/docs/api-reference/get-game-steam-summary
      operationId: get-game-steam-summary
      parameters:
      - description: |-
          用户的 Steam 标识。可以是以下任意一种格式：
          - 纯数字的 **SteamID64**
          - 用户的 **自定义 URL 名称** (Vanity URL)
          - 完整的 **个人资料链接** (包含 SteamID64 或自定义名称)
          - 好友代码 (如 `22202`)
        example: "76561197960287930"
        explode: true
        in: query
        name: steamid
        required: false
        schema:
          example: "76561197960287930"
          type: string
        style: form
        x-tooltip: |-
          支持多种格式，例如：
          - SteamID64: 76561197960287930
          - 自定义名称: gabelogannewell
          - 个人资料链接（ID）: https://steamcommunity.com/profiles/76561197960287930
          - 个人资料链接（自定义名）: https://steamcommunity.com/id/gabelogannewell
          - 好友代码: 22202
      - description: 用户的 Steam 自定义URL名称（Vanity URL）。例如个人资料链接中 `/id/` 后面的部分。
        example: gabelogannewell
        explode: true
        in: query
        name: id
        required: false
        schema:
          example: gabelogannewell
          type: string
        style: form
        x-tooltip: "自定义URL名称，例如: gabelogannewell"
      - description: 用户的 Steam ID3 格式标识符。传统的 Steam ID 格式，形如 STEAM_X:Y:Z。
        example: STEAM_0:0:22202
        explode: true
        in: query
        name: id3
        required: false
        schema:
          example: STEAM_0:0:22202
          type: string
        style: form
        x-tooltip: "Steam ID3格式，例如: STEAM_0:0:22202"
      - description: 这个接口可以传的访问凭证。此参数选填，如果传入，将优先使用您提供的值。请注意妥善保管，不要把它写进公开的前端代码中。
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
        x-tooltip: 可选，传入您自己的访问凭证。
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_game_steam_summary_200_response"
          description: 查询成功！返回用户的 Steam 公开资料摘要。
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_game_steam_summary_400_response"
          description: 请求失败。请检查你是否提供了 `steamid`、`id` 或 `id3` 中的任意一个参数。
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_game_steam_summary_401_response"
          description: 认证失败。你提供的 Steam Web API Key 无效或已过期，或者你没有提供 Key。请检查你的 Key。
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_game_steam_summary_404_response"
          description: 用户未找到。根据你提供的 SteamID 未能找到对应的用户，或者该用户资料为完全私密。
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_game_minecraft_userinfo_502_response"
          description: 暂时无法获取相关游戏数据，请稍后重试。
      summary: 查询 Steam 用户
      tags:
      - Game
      x-search-words:
      - steam
      - steamid
      - 个人资料
      - 用户查询
      - 头像
      - 在线状态
      - g胖
      - valve
      - summary
      - profile
      - id
      - id3
      - vanity url
      - 自定义链接
      - steam id3
      x-docs-url: https://uapis.cn/docs/api-reference/get-game-steam-summary
  /github/repo:
    get:
      description: |-
        需要快速获取一个GitHub仓库的核心信息？这个接口一次请求就能返回仓库的关键数据，适合项目展示、统计和分析场景。

        ### 可获取的数据
        一次请求，即可获得以下信息：
        - **核心指标**: `star`, `fork`, `open_issues` 等关键统计数据。
        - **项目详情**: 描述、主页、分支、语言、话题标签、开源协议。
        - **参与者信息**: 获取协作者(`collaborators`)和维护者参考信息(`maintainers`)列表，包括他们的公开邮箱（如果可用）。

        > [!NOTE]
        > `collaborators` 字段在私有仓库或权限受限时可能为空。`maintainers` 为整理后的参考信息，仅供参考。
      externalDocs:
        description: Interactive API reference
        url: https://uapis.cn/docs/api-reference/get-github-repo
      operationId: get-github-repo
      parameters:
      - description: 目标仓库的标识，格式为 `owner/repo`。
        example: torvalds/linux
        explode: true
        in: query
        name: repo
        required: true
        schema:
          example: torvalds/linux
          type: string
        style: form
        x-tooltip: "例如: torvalds/linux"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_github_repo_200_response"
          description: 成功获取仓库信息。
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_github_repo_400_response"
          description: 请求参数缺失或格式错误。请确保 `repo` 参数已提供且格式为 `owner/repo`。
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_github_repo_502_response"
          description: 暂时无法获取仓库信息，请稍后重试。
      summary: 查询 GitHub 仓库
      tags:
      - Social
      x-search-words:
      - github
      - repo
      - repository
      - 仓库
      - 项目
      - star
      - fork
      - issues
      - watchers
      - license
      - topics
      x-seo-optimized-text: 免费 GitHub 仓库信息查询 API，一键获取项目分支、star、fork、开源协议、主要语言等核心数据。支持协作者与维护者信息查询，适用于开发者工具、项目展示、代码分析等场景。
      x-seo-keywords:
      - GitHub API
      - 仓库信息查询
      - 开源项目数据
      - GitHub项目分析
      - 开发者API
      - 代码仓库接口
      - star数查询
      - 开源协议查询
      x-seo-title: 免费GitHub仓库信息查询API - 项目数据一键获取
      x-seo-usage-scenarios: 适用于开发项目仪表盘、开源软件导航、开发者作品集展示、代码统计与分析工具、软件依赖项跟踪等场景。
      x-seo-related-apis:
      - GitLab仓库信息
      - 代码提交历史
      - 开源项目趋势
      - 开发者信息查询
      x-docs-url: https://uapis.cn/docs/api-reference/get-github-repo
  /github/user:
    get:
      description: |-
        需要获取开发者的 GitHub 画像？这个接口不仅能返回详尽的基础资料和所属的公开组织列表，还能一键拉取开发者的绿格子数据。

        ## 功能概述
        - **开发者基础画像**：返回用户的仓库数、关注数、公司、地理位置和社交媒体链接等，非常适合用来自动生成技术博客的作者名片或建立开发者档案。
        - **贡献日历与时间线**：只要开启 `activity=true`，就能获取该用户最近一年的全量贡献数据。返回的 JSON 已经将数据按周（weeks）和天（days）整理好，前端通过简单的双重循环就能画出和 GitHub 主页一模一样的贡献日历。
        - **组织级贡献过滤**：如果你只想评估某个人在特定团队开源项目中的活跃度，直接传入 `org` 参数。接口会自动剥离他在其他私有项目或个人仓库的提交，只返回针对该组织的贡献数据。
      externalDocs:
        description: Interactive API reference
        url: https://uapis.cn/docs/api-reference/get-github-user
      operationId: get-github-user
      parameters:
      - description: GitHub 用户名（必需符合 GitHub 命名规范：仅限字母、数字、连字符，最长 39 位）。
        example: torvalds
        explode: true
        in: query
        name: user
        required: true
        schema:
          example: torvalds
          type: string
        style: form
      - description: 是否获取最近一年的贡献活动数据（如贡献图、时间线）。传入 true 开启，其他值均视为不开启。
        explode: true
        in: query
        name: activity
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: 活动数据范围。可选 all 或 organization。只有开启 activity 时才有意义。
        explode: true
        in: query
        name: activity_scope
        required: false
        schema:
          default: all
          enum:
          - all
          - organization
          type: string
        style: form
      - description: 组织登录名。如果传入此参数，会自动视为开启 organization 级别的贡献查询，切勿再同时传 activity_scope=all。
        explode: true
        in: query
        name: org
        required: false
        schema:
          type: string
        style: form
      - description: 是否附带该用户在 GitHub 主页展示的 pinned 仓库数据。传入 true 开启，其他值均视为不开启。
        explode: true
        in: query
        name: pinned
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: 是否附带该用户最近活跃的公开仓库列表。传入 true 开启，其他值均视为不开启。
        explode: true
        in: query
        name: repos
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: 公开仓库列表的返回数量。只有开启 repos 时才有意义；如果单独传入 repos_limit，也会自动视为开启 repos。
        explode: true
        in: query
        name: repos_limit
        required: false
        schema:
          default: 6
          maximum: 100.0
          minimum: 1.0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_github_user_200_response"
          description: 成功获取用户信息。如果开启了 `activity=true`，会在响应体中附加 `activity` 对象。
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_github_user_400_response"
          description: 参数格式错误，或参数组合不合法。
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_github_user_404_response"
          description: 找不到指定的用户，或者传入的组织不存在。
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_github_user_502_response"
          description: 上游服务器发生错误或响应超时。
      summary: 查询 GitHub 用户信息
      tags:
      - Social
      x-search-words:
      - github
      - user
      - profile
      - 贡献图
      - 绿格子
      - contributions
      - 组织
      - 开发者
      - 活跃度
      x-faq:
      - answer: 接口返回的 `contribution_calendar.weeks` 是一个按周排列的数组，里面包含了每天的 `color` 和
          `contribution_count`。在前端只需使用两次循环（外层遍历 `weeks` 渲染列，内层遍历 `contribution_days`
          渲染方块），将 `color` 赋值给小方块的 `background-color`，就能完美复刻 GitHub 的贡献日历。
        question: 前端拿到 contribution_calendar 数据后，该怎么画那个贡献图？
      - answer: 这取决于您的 GitHub 隐私设置。GitHub 默认会隐藏私有仓库（Private Repositories）里的贡献活动。只有公开项目的
          Commit、PR 和 Issue 才会计算在接口的数据之内。
        question: 为什么我查自己的账号，返回的总贡献数比我在网页上看到的少？
      x-seo-optimized-text: 免费 GitHub 用户信息查询 API 接口，不仅支持获取开发者的基础 Profile（仓库数、关注者、公司等），还支持一键拉取最近一年的贡献图（Contribution
        Graph）数据，按周与按月聚合。可精准查询特定组织范围内的代码贡献量。
      x-seo-keywords:
      - 免费GitHub API
      - GitHub用户信息查询
      - GitHub贡献图API
      - Contribution Graph获取
      - GitHub开发者画像
      - 开源贡献统计
      - GitHub绿格子数据
      x-seo-title: 【免费】GitHub用户信息与贡献图查询API
      x-seo-usage-scenarios: 适用于构建开发者在线名片、技术博客名片卡、开源团队成员活跃度监控、自动化简历解析系统、年度代码总结生成器等场景。
      x-docs-url: https://uapis.cn/docs/api-reference/get-github-user
  /history/programmer:
    get:
      description: |-
        想查看程序员历史上某个特定日期发生的大事件？指定月份和日期，我们就能告诉你！

        ## 功能概述
        通过指定月份和日期，获取该日发生的程序员相关历史事件。同样使用AI智能筛选，确保事件的相关性和重要性。
      externalDocs:
        description: Interactive API reference
        url: https://uapis.cn/docs/api-reference/get-history-programmer
      operationId: get-history-programmer
      parameters:
      - description: 月份，1-12之间的整数。
        example: 4
        explode: true
        in: query
        name: month
        required: true
        schema:
          example: 4
          maximum: 12.0
          minimum: 1.0
          type: integer
        style: form
        x-tooltip: 输入1-12之间的数字
      - description: 日期，1-31之间的整数。
        example: 4
        explode: true
        in: query
        name: day
        required: true
        schema:
          example: 4
          maximum: 31.0
          minimum: 1.0
          type: integer
        style: form
        x-tooltip: 输入1-31之间的数字
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_history_programmer_200_response"
          description: 获取成功！返回指定日期的程序员历史事件列表。
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_history_programmer_400_response"
          description: 请求参数错误。请检查月份和日期参数是否正确。
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_history_programmer_500_response"
          description: 服务器内部错误。
      summary: 程序员历史事件
      tags:
      - Misc
      x-search-words:
      - 程序员
      - 历史
      - 指定日期
      - 编程
      - 计算机
      - 科学
      - 事件
      - programmer
      - history
      - date
      - computing
      - technology
      x-docs-url: https://uapis.cn/docs/api-reference/get-history-programmer
  /history/programmer/today:
    get:
      description: |-
        想知道程序员历史上的今天发生了什么大事吗？这个接口告诉你答案！

        ## 功能概述
        我们使用AI智能筛选从海量历史事件中挑选出与程序员、计算机科学相关的重要事件。每个事件都经过重要性评分和相关性评分，确保内容质量。
      externalDocs:
        description: Interactive API reference
        url: https://uapis.cn/docs/api-reference/get-history-programmer-today
      operationId: get-history-programmer-today
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_history_programmer_today_200_response"
          description: 获取成功！返回今天的程序员历史事件列表。
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_history_programmer_500_response"
          description: 服务器内部错误。
      summary: 程序员历史上的今天
      tags:
      - Misc
      x-search-words:
      - 程序员
      - 历史
      - 今天
      - 编程
      - 计算机
      - 科学
      - 事件
      - programmer
      - history
      - today
      - computing
      - technology
      x-docs-url: https://uapis.cn/docs/api-reference/get-history-programmer-today
  /image/bing-daily:
    get:
      description: |-
        这个接口可以获取最新或指定日期的必应壁纸。默认直接返回图片，也可以传 `format=json` 获取元数据，或者传 `format=redirect` 直接跳转到最终图片地址。

        ## 功能概述
        - 不传参数时，默认返回当天壁纸图片二进制
        - 可以传 `date` 查询指定日期的壁纸
        - 可以传 `resolution` 选择 `4k` 或 `1080`
        - 可以传 `format` 控制返回图片、JSON 或 302 跳转
        - 当传 `format=json` 时，返回的是扁平 JSON 对象，里面会包含标题、副标题、说明文案、版权信息、问答信息和图片地址等字段

        ## 参数说明
        `resolution` 默认是 `4k`。
        `format` 默认是 `image`。
      externalDocs:
        description: Interactive API reference
        url: https://uapis.cn/docs/api-reference/get-image-bing-daily
      operationId: get-image-bing-daily
      parameters:
      - description: 壁纸日期，格式是 `YYYY-MM-DD`。不传时返回当天壁纸。
        explode: true
        in: query
        name: date
        required: false
        schema:
          type: string
        style: form
      - description: 是否每次请求随机返回一张历史壁纸。传 `true` 时生效；不能和 `date` 同时使用。不传或传 `false` 时保持默认当天/指定日期逻辑。
        example: true
        explode: true
        in: query
        name: random
        required: false
        schema:
          default: false
          example: true
          type: boolean
        style: form
      - description: 返回图片的目标分辨率。可以传 `4k` 或 `1080`，不传时默认是 `4k`。
        example: 4k
        explode: true
        in: query
        name: resolution
        required: false
        schema:
          default: 4k
          enum:
          - 4k
          - "1080"
          example: 4k
          type: string
        style: form
      - description: 响应格式。可以传 `image`、`json` 或 `redirect`。不传时默认是 `image`。
        explode: true
        in: query
        name: format
        required: false
        schema:
          default: image
          enum:
          - image
          - json
          - redirect
          type: string
        style: form
      responses:
        "200":
          content:
            image/jpeg:
              schema:
                description: 直接返回壁纸图片内容。
                format: binary
                title: format=image
                type: string
            application/json:
              schema:
                $ref: "#/components/schemas/format_json"
          description: 请求成功。`format=image` 返回图片二进制，`format=json` 返回壁纸元数据。
        "302":
          description: 当 `format=redirect` 时，这个接口会通过 `Location` 响应头跳转到最终图片地址。
          headers:
            Location:
              explode: false
              schema:
                example: https://cn.bing.com/th?id=OHR.GrouseGuff_EN-US4212457538_UHD.jpg
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_image_bing_daily_400_response"
          description: 请求参数不正确。
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_image_bing_daily_404_response"
          description: 指定日期没有找到对应的壁纸。
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_image_bing_daily_500_response"
          description: 服务器处理失败，请稍后重试。
      summary: 获取必应每日壁纸
      tags:
      - Image
      x-search-words:
      - 必应壁纸
      - bing壁纸
      - 每日壁纸
      - 4k壁纸
      - 1080壁纸
      - 必应每日一图
      - bing daily wallpaper
      - wallpaper api
      - 壁纸历史
      - 按日期查壁纸
      x-seo-optimized-text: 免费必应每日壁纸API接口，可以获取最新或指定日期的必应壁纸。可以传 date 查询历史日期，可以传 resolution
        选择 4K 或 1080，也可以传 format 返回图片、JSON 元数据或重定向。
      x-seo-keywords:
      - 必应每日壁纸API
      - bing wallpaper api
      - 必应壁纸接口
      - 每日壁纸
      - 4k壁纸API
      - 1080壁纸API
      - 必应历史壁纸
      - 壁纸直链
      - 壁纸json
      - 壁纸重定向
      x-seo-title: 必应每日壁纸API - 可查历史日期，可选 4K / 1080
      x-docs-url: https://uapis.cn/docs/api-reference/get-image-bing-daily
  /image/bing-daily/history:
    get:
      description: |-
        这个接口用于查询必应壁纸历史列表，也可以按日期精确查询某一天。默认按时间倒序返回 JSON。

        ## 功能概述
        - 可以传 `date` 精确查询某一天，命中后只返回 1 条数据
        - 不传 `date` 时，按时间倒序分页返回历史列表
        - 可以传 `resolution` 让 `image_url` 直接对应 `4k` 或 `1080`
        - 可以传 `page` 和 `page_size` 控制分页
        - 每条记录都是扁平 JSON 对象，里面会包含标题、副标题、说明文案、版权信息、问答信息和图片地址等字段

        ## 参数说明
        `resolution` 默认是 `4k`。
        `page` 默认是 `1`，`page_size` 默认是 `30`，最大是 `100`。
        当传了 `date` 以后，`page` 和 `page_size` 不生效。
      externalDocs:
        description: Interactive API reference
        url: https://uapis.cn/docs/api-reference/get-image-bing-daily-history
      operationId: get-image-bing-daily-history
      parameters:
      - description: 壁纸日期，格式是 `YYYY-MM-DD`。传了以后会按日期精确查询，并且忽略 `page` 和 `page_size`。
        example: 2026-04-05
        explode: true
        in: query
        name: date
        required: false
        schema:
          example: 2026-04-05
          type: string
        style: form
      - description: 返回图片的目标分辨率。可以传 `4k` 或 `1080`，不传时默认是 `4k`。
        example: "1080"
        explode: true
        in: query
        name: resolution
        required: false
        schema:
          default: 4k
          enum:
          - 4k
          - "1080"
          example: "1080"
          type: string
        style: form
      - description: 分页页码，必须是正整数。不传时默认是 `1`。只有在不传 `date` 时才生效。
        example: 2
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 2
          minimum: 1.0
          type: integer
        style: form
      - description: 每页条数，必须是正整数。不传时默认是 `30`，最大是 `100`。只有在不传 `date` 时才生效。
        example: 10
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 30
          example: 10
          maximum: 100.0
          minimum: 1.0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_image_bing_daily_history_200_response"
          description: 查询成功，返回历史壁纸列表和分页信息。
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_image_bing_daily_history_400_response"
          description: 请求参数不正确。
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_image_bing_daily_404_response"
          description: 按日期精确查询时，没有找到对应的壁纸。
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_image_bing_daily_500_response"
          description: 服务器处理失败，请稍后重试。
      summary: 查询必应壁纸历史
      tags:
      - Image
      x-search-words:
      - 必应壁纸历史
      - bing history wallpaper
      - 壁纸历史列表
      - 按日期查壁纸
      - 壁纸分页
      - 历史图片接口
      - 必应每日一图历史
      - wallpaper history api
      - 图集接口
      - 历史归档
      x-seo-optimized-text: 必应壁纸历史 API，可以按日期精确查询，也可以按时间倒序分页获取历史壁纸列表。可以传 resolution
        让 image_url 直接对应 4K 或 1080，也可以传 page 和 page_size 控制分页。
      x-seo-keywords:
      - 必应壁纸历史API
      - bing wallpaper history
      - 历史壁纸接口
      - 壁纸列表API
      - 按日期查壁纸
      - 壁纸分页接口
      - 4k壁纸历史
      - 1080壁纸历史
      - 壁纸归档
      - 每日壁纸历史
      x-seo-title: 必应壁纸历史 API - 按日期查询，支持分页与 4K / 1080
      x-docs-url: https://uapis.cn/docs/api-reference/get-image-bing-daily-history
  /image/compress:
    post:
      description: |-
        还在为图片体积和加载速度发愁吗？体验一下我们强大的**无损压缩服务**，它能在几乎不牺牲任何肉眼可感知的画质的前提下，将图片体积压缩到极致。

        ## 功能概述
        你只需要上传一张常见的图片（如 PNG, JPG），选择一个压缩等级，就能获得一个体积小到惊人的压缩文件。这对于需要大量展示高清图片的网站、App 或小程序来说，是优化用户体验、节省带宽和存储成本的利器。

        ## 使用须知
        > [!TIP]
        > 图片越大或压缩等级越高，处理时间可能越长，请您耐心等待。

        > [!WARNING]
        > **处理时间提醒**
        > 在访问量较高时，处理时间可能进一步延长。如果您的业务对返回时间比较敏感，建议预留充足的处理时间。

        ### 请求与响应格式
        - 请求必须使用 `multipart/form-data` 格式上传文件。
        - 成功响应将直接返回压缩后的文件二进制流 (`image/*`)，并附带 `Content-Disposition` 头，建议客户端根据此头信息保存文件。

        ## 参数详解
        ### `level` (压缩等级)
        这是一个从 `1` 到 `5` 的整数，它决定了压缩的强度和策略，数字越小，压缩率越高。所有等级都经过精心调校，以在最大化压缩率的同时保证出色的视觉质量。
        - `1`: **极限压缩** (推荐，体积最小，画质优异)
        - `2`: **高效压缩**
        - `3`: **智能均衡** (默认选项)
        - `4`: **画质优先**
        - `5`: **专业保真** (压缩率稍低，保留最多图像信息)

        ## 错误处理指南
        - **400 Bad Request**: 通常因为没有上传文件，或者 `level` 参数不在 1-5 的范围内。
        - **500 Internal Server Error**: 如果在压缩过程中服务器发生内部错误，会返回此状态码。
      externalDocs:
        description: Interactive API reference
        url: https://uapis.cn/docs/api-reference/post-image-compress
      operationId: post-image-compress
      parameters:
      - description: 压缩强度 (1-5)，默认为 3。数字越小，压缩率越高。
        example: 3
        explode: true
        in: query
        name: level
        required: false
        schema:
          default: 3
          enum:
          - 1
          - 2
          - 3
          - 4
          - 5
          example: 3
          type: integer
        style: form
        x-tooltip: |-
          - `1`: **极限压缩** (推荐)
          - `2`: **高效压缩**
          - `3`: **智能均衡** (默认)
          - `4`: **画质优先**
          - `5`: **专业保真**
      - description: 输出图片格式，可以是 'png' 或 'jpeg'。
        example: png
        explode: true
        in: query
        name: format
        required: false
        schema:
          default: png
          enum:
          - png
          - jpeg
          example: png
          type: string
        style: form
        x-tooltip: 默认为 'png'。
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/post_image_compress_request"
        required: true
      responses:
        "200":
          content:
            image/png:
              schema:
                format: binary
                type: string
          description: 压缩成功响应。响应是压缩后的图片二进制数据。返回格式会依据你选择的目标格式变化，默认是 PNG 图片数据。
          headers:
            Content-Disposition:
              description: 提示客户端文件下载为压缩后的文件。建议扩展名与输出格式一致。
              explode: false
              schema:
                example: attachment; filename="compressed.png"
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/post_image_compress_400_response"
          description: 请求无效。可能是未上传文件、文件格式不受支持或参数错误。
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/post_image_compress_500_response"
          description: 服务器内部错误。压缩过程中发生错误。
      summary: 无损压缩图片
      tags:
      - Image
      x-search-words:
      - 图片压缩
      - 无损压缩
      - 图片优化
      - 减小体积
      - image compression
      - lossless
      - optimize
      - png
      - jpg
      x-docs-url: https://uapis.cn/docs/api-reference/post-image-compress
  /image/decode:
    post:
      description: |-
        在 RAM 和 Flash 极其有限的设备上解码图片是一项繁重的任务。这个接口专为 IoT 和嵌入式开发设计，将复杂的图像解码和缩放操作转移到云端，直接输出适用于单片机屏幕的二进制像素流。

        ## 功能概述
        此接口提供了灵活的云端图像预处理能力，帮助硬件开发者跳过繁琐的图像处理逻辑：
        - **直接推流渲染**：如果选择输出纯像素流（如 RGB565），单片机收到网络数据后无需解析文件头，可直接将其写入显存，实现极低内存占用的边下边播。
        - **完美适配屏幕**：无需在设备端编写裁剪或补边代码。只需传入目标屏幕的物理分辨率，接口会自动完成等比缩放、居中补色或铺满裁剪，确保最终显示画面不变形。
        - **精准内存分配**：在动态缩放图片的场景下，服务端会在 HTTP 响应头中提前注入 `X-Image-Width` 和 `X-Image-Height`，方便设备在读取真实的二进制数据前进行准确的内存分配。

        ## 使用须知
        - **请求格式**：无论是上传本地文件还是传递图片链接，请求体都必须使用 `multipart/form-data` 编码格式。
        - **网络资源获取**：当您选择传递图片链接时，服务端会自动尝试获取该资源。请确保您提供的图片链接是公网直接可访问的，且不需要任何形式的登录鉴权。
      externalDocs:
        description: Interactive API reference
        url: https://uapis.cn/docs/api-reference/post-image-decode
      operationId: post-image-decode
      parameters:
      - description: 目标宽度，单位是像素。可以单独传，也可以和 `height` 一起传。与 `max_width`、`max_height`
          互斥。
        example: 800
        explode: true
        in: query
        name: width
        required: false
        schema:
          example: 800
          maximum: 8192.0
          minimum: 1.0
          type: integer
        style: form
      - description: 目标高度，单位是像素。可以单独传，也可以和 `width` 一起传。与 `max_width`、`max_height`
          互斥。
        example: 600
        explode: true
        in: query
        name: height
        required: false
        schema:
          example: 600
          maximum: 8192.0
          minimum: 1.0
          type: integer
        style: form
      - description: 最大宽度，单位是像素。只有在不传 `width`、`height` 时才生效，会按原比例缩放。
        explode: true
        in: query
        name: max_width
        required: false
        schema:
          maximum: 8192.0
          minimum: 1.0
          type: integer
        style: form
      - description: 最大高度，单位是像素。只有在不传 `width`、`height` 时才生效，会按原比例缩放。
        explode: true
        in: query
        name: max_height
        required: false
        schema:
          maximum: 8192.0
          minimum: 1.0
          type: integer
        style: form
      - description: 输出格式。可以传 `bmp`、`rgb565` 或 `rgb888`，不传时默认是 `bmp`。
        explode: true
        in: query
        name: format
        required: false
        schema:
          default: bmp
          enum:
          - bmp
          - rgb565
          - rgb888
          type: string
        style: form
      - description: BMP 输出的颜色模式。只有在 `format=bmp` 时才生效，可以传 `RGB565` 或 `RGB888`，不传时默认是
          `RGB888`。
        explode: true
        in: query
        name: color_mode
        required: false
        schema:
          default: RGB888
          enum:
          - RGB565
          - RGB888
          type: string
        style: form
      - description: 缩放模式。可以传 `contain`、`cover` 或 `fill`，不传时默认是 `contain`。当传 `cover`
          或 `fill` 时，`width` 和 `height` 都要传。
        explode: true
        in: query
        name: fit
        required: false
        schema:
          default: contain
          enum:
          - contain
          - cover
          - fill
          type: string
        style: form
      - description: 背景色。可以传 `black`、`white` 或 `#RRGGBB`，不传时默认是 `black`。
        explode: true
        in: query
        name: background
        required: false
        schema:
          default: black
          type: string
        style: form
        x-tooltip: 适合在 `contain` 模式或需要去掉透明背景时使用。
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/post_image_decode_request"
        description: 包含图片来源的表单数据。`file` 和 `url` 至少传一个；如果同时传，优先使用 `file`。
        required: true
      responses:
        "200":
          content:
            image/bmp:
              schema:
                format: binary
                type: string
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: 处理成功，直接返回图片二进制数据。`format=bmp` 时返回 BMP 图片数据，`format=rgb565`
            或 `rgb888` 时返回原始二进制像素数据。
          headers:
            X-Image-Width:
              description: 输出图片的实际宽度（像素）。
              explode: false
              schema:
                example: "160"
                type: string
              style: simple
            X-Image-Height:
              description: 输出图片的实际高度（像素）。
              explode: false
              schema:
                example: "128"
                type: string
              style: simple
            X-Output-Format:
              description: 本次响应使用的输出格式。
              explode: false
              schema:
                example: rgb565
                type: string
              style: simple
            X-Color-Mode:
              description: 本次响应使用的颜色模式。
              explode: false
              schema:
                example: RGB565
                type: string
              style: simple
            X-Source-Format:
              description: 源图片识别出的格式。
              explode: false
              schema:
                example: jpeg
                type: string
              style: simple
            X-Byte-Order:
              description: 当输出使用 16 位像素数据时返回字节序信息。
              explode: false
              schema:
                example: big-endian
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/post_image_decode_400_response"
          description: 请求参数不正确，或者传入的文件和链接都不是可处理的图片内容。
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/post_image_decode_413_response"
          description: 上传图片体积、拉取到的图片体积、源图片像素，或者输出图片像素超过限制。
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/post_image_decode_500_response"
          description: 服务器处理失败，例如图片编码阶段发生错误。
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/post_image_decode_502_response"
          description: 图片下载失败，或者图片链接返回的不是可识别的图片内容。
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/post_image_decode_503_response"
          description: 当前图片处理任务过多，或者暂时无法获取图片。
        "504":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/post_image_decode_504_response"
          description: 获取图片超时。
      summary: 解码并缩放图片
      tags:
      - Image
      x-search-words:
      - 图片解码
      - 图片上传
      - 图片链接
      - 图片缩放
      - bmp
      - rgb565
      - rgb888
      - iot 图片
      - esp32 图片
      - arduino 图片
      - 墨水屏 图片
      - 屏幕显示
      x-faq:
      - answer: 如果您的屏幕驱动直接吃像素流，通常可以传 `format=rgb565`。如果您更习惯处理标准图片文件，可以传 `format=bmp`。这样设备端就不用自己再做复杂的解码和缩放了。
        question: ESP32 或 Arduino 这类设备适合怎么用？
      - answer: 可以传屏幕的目标尺寸，再保留默认的 `fit=contain`。这样图片会按比例缩放，并在空白区域补上背景色；如果需要改背景色，可以再传
          `background`。
        question: 怎么让图片完整显示在屏幕里，不被裁掉？
      - answer: 如果您已经知道屏幕最终要显示的固定尺寸，就传 `width` 和 `height`。如果您只是想限制图片不要超过某个范围，又希望保持原始比例，就传
          `max_width` 和 `max_height`。
        question: 什么时候该用 width、height，什么时候该用 max_width、max_height？
      x-seo-optimized-text: 免费图片解码与缩放 API，适合 ESP32 屏显、Arduino、电子墨水屏、TFT 彩屏和各类嵌入式设备。可以上传图片文件，也可以传图片链接，按指定尺寸输出
        BMP、RGB565 或 RGB888 二进制数据，方便直接接入图片预处理流程。
      x-seo-keywords:
      - 图片解码API
      - 图片缩放接口
      - 免费转BMP
      - 在线转RGB565
      - RGB888转换
      - ESP32 图片接口
      - Arduino 图片处理
      - 电子墨水屏图片
      - TFT 屏图片处理
      - 屏幕图片预处理
      - image decode api
      - image resize api
      x-seo-title: 【免费】图片解码与缩放 API - 输出 BMP / RGB565 / RGB888
      x-seo-usage-scenarios: 适用于 ESP32 屏显、Arduino 项目、电子墨水屏、TFT 屏、网络相框、嵌入式设备图片预处理、图片尺寸统一和颜色格式转换等场景
      x-seo-related-apis:
      - 图片转 Base64
      - 无损压缩图片
      - SVG转图片
      - 必应每日壁纸
      x-docs-url: https://uapis.cn/docs/api-reference/post-image-decode
  /image/frombase64:
    post:
      description: |-
        当你需要在前端处理完图片（比如裁剪、加滤镜后），不通过传统表单，而是直接上传图片的场景，这个接口就派上用场了。

        ## 功能概述
        你只需要将图片的 Base64 编码字符串发送过来，我们就会把它解码、保存为图片文件，并返回一个可供访问的公开 URL。

        ## 使用须知

        > [!IMPORTANT]
        > **关于 `imageData` 格式**
        > 你发送的 `imageData` 字符串必须是完整的 Base64 Data URI 格式，它需要包含 MIME 类型信息，例如 `data:image/png;base64,iVBORw0KGgo...`。缺少 `data:image/...;base64,` 前缀将导致解码失败。
      externalDocs:
        description: Interactive API reference
        url: https://uapis.cn/docs/api-reference/post-image-frombase64
      operationId: post-image-frombase64
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/post_image_frombase64_request"
        description: ""
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/post_image_frombase64_200_response"
          description: 上传成功！返回图片的访问地址。
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/post_image_frombase64_400_response"
          description: 请求失败。可能的原因有：请求体不是有效的JSON，缺少 `imageData` 字段，或者 `imageData` 的内容不是有效的Base64
            Data URI。
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/post_image_frombase64_500_response"
          description: 服务器内部错误。在解码或保存图片文件时发生了未知错误。请稍后重试。
      summary: 通过Base64编码上传图片
      tags:
      - Image
      x-search-words:
      - base64
      - 图片上传
      - 图床
      - 解码
      - datauri
      - upload image
      - 图片存储
      x-seo-optimized-text: 免费Base64图片上传API接口，支持通过Base64编码上传图片文件。快速便捷的图片处理服务，支持多种图片格式。适用于图片存储、文件上传、图片转换等场景。
      x-seo-keywords:
      - 免费图片上传API
      - Base64图片接口
      - 图片处理API
      - 文件上传服务
      - 图片转换API
      - 图片存储接口
      - Base64上传工具
      x-seo-title: 免费Base64图片上传API接口 - 图片处理服务
      x-seo-usage-scenarios: 适用于网站图片上传、移动应用图片处理、图片格式转换、临时图片存储、图片编辑工具、文件管理系统等场景
      x-seo-related-apis:
      - Base64编码
      - 图片处理
      - 文件服务
      - 图片压缩
      x-docs-url: https://uapis.cn/docs/api-reference/post-image-frombase64
  /image/motou:
    get:
      description: |-
        想在线rua一下好友的头像吗？这个趣味接口可以满足你。

        ## 功能概述
        此接口通过GET方法，专门用于通过QQ号生成摸摸头GIF。你只需要提供一个QQ号码，我们就会自动获取其公开头像，并制作成一个可爱的动图。

        ## 使用须知
        - **响应格式**：接口成功时直接返回 `image/gif` 格式的二进制数据。
        - **背景颜色**：你可以通过 `bg_color` 参数来控制GIF的背景。使用 `transparent` 选项可以让它更好地融入各种聊天背景中。
      externalDocs:
        description: Interactive API reference
        url: https://uapis.cn/docs/api-reference/get-image-motou
      operationId: get-image-motou
      parameters:
      - description: 你想要摸头的对象的QQ号码。
        example: "10001"
        explode: true
        in: query
        name: qq
        required: true
        schema:
          example: "10001"
          type: string
        style: form
        x-tooltip: 纯数字的QQ号。
      - description: GIF的背景颜色。留空则由后端服务决定默认值。
        example: transparent
        explode: true
        in: query
        name: bg_color
        required: false
        schema:
          enum:
          - white
          - black
          - transparent
          example: transparent
          type: string
        style: form
        x-tooltip: "可选值为 'white', 'black', 'transparent'。推荐使用 'transparent'。"
      responses:
        "200":
          content:
            image/gif:
              schema:
                format: binary
                type: string
          description: 生成成功！响应体是GIF格式的图片二进制数据。
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_image_motou_400_response"
          description: 请求参数错误。必须提供有效的 'qq' 参数。
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_image_motou_500_response"
          description: 服务器内部错误。可能的原因包括：获取QQ头像失败，或在生成GIF过程中发生错误。
      summary: 生成摸摸头GIF (QQ号)
      tags:
      - Image
      x-search-words:
      - 摸头
      - 摸摸头
      - petpet
      - rua
      - gif
      - 表情包
      - qq头像
      - 生成器
      - 动图
      x-seo-optimized-text: 免费摸头GIF生成API，输入QQ号自动获取头像并生成可爱的摸摸头动图。支持透明背景，适合聊天斗图、表情包制作。Petpet风格动图生成器，无需注册即可使用。
      x-seo-keywords:
      - 摸头GIF生成
      - petpet API
      - QQ头像摸头
      - 摸摸头表情包
      - GIF生成器
      - rua头像
      - 动图制作API
      - 表情包生成
      x-seo-title: 【免费】摸头GIF生成API - Petpet风格动图制作
      x-seo-usage-scenarios: 适用于QQ机器人、聊天斗图、表情包制作、社交娱乐应用、趣味头像生成等场景
      x-seo-related-apis:
      - 表情包生成
      - 图片处理
      - QQ头像获取
      - GIF制作
      x-docs-url: https://uapis.cn/docs/api-reference/get-image-motou
    post:
      description: |-
        除了使用QQ头像，你还可以通过上传自己的图片或提供图片URL来制作独一无二的摸摸头GIF。

        ## 功能概述
        此接口通过POST方法，支持两种方式生成GIF：
        1.  **图片URL**：在表单中提供 `image_url` 字段。
        2.  **上传图片**：在表单中上传 `file` 文件。

        ## 使用须知
        - **响应格式**：接口成功时直接返回 `image/gif` 格式的二进制数据。
        - **参数优先级**：如果同时提供了 `image_url` 和上传的 `file` 文件，系统将 **优先使用 `image_url`**。
        - **背景颜色**：同样支持 `bg_color` 表单字段来控制GIF背景。
      externalDocs:
        description: Interactive API reference
        url: https://uapis.cn/docs/api-reference/post-image-motou
      operationId: post-image-motou
      parameters: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/post_image_motou_request"
        description: 包含图片来源和背景色的表单数据。必须提供 'image_url' 或 'file' 两者之一。
        required: true
      responses:
        "200":
          content:
            image/gif:
              schema:
                format: binary
                type: string
          description: 生成成功！响应体是GIF格式的图片二进制数据。
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/post_image_motou_400_response"
          description: 请求参数错误。必须提供 'image_url' 或上传 'file' 文件两者中的一个。
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/post_image_motou_500_response"
          description: 服务器内部错误。可能的原因包括：从URL获取图片失败、处理上传文件失败，或在生成GIF过程中发生错误。
      summary: 生成摸摸头GIF
      tags:
      - Image
      x-search-words:
      - 摸头
      - 摸摸头
      - petpet
      - rua
      - gif
      - 表情包
      - 生成器
      - 动图
      - 图片上传
      - URL
      - 自定义头像
      x-docs-url: https://uapis.cn/docs/api-reference/post-image-motou
  /image/nsfw:
    post:
      description: |-
        这是一个图片内容审核接口，自动识别图片中的违规内容并返回处理建议。

        ## 功能概述
        上传图片文件或提供图片URL，接口会自动分析图片内容，返回是否违规、风险等级和处理建议。适合对接到用户上传流程中，实现自动化内容审核。

        ## 返回字段说明
        - **is_nsfw**: 是否判定为违规内容，`true` 表示违规，`false` 表示正常
        - **nsfw_score**: 违规内容置信度，0-1 之间，越高表示越可能违规
        - **normal_score**: 正常内容置信度，0-1 之间，与 nsfw_score 互补
        - **suggestion**: 处理建议
          - `pass`: 内容正常，可以直接放行
          - `review`: 存在风险，建议转人工复核
          - `block`: 高风险内容，建议直接拦截
        - **risk_level**: 风险等级
          - `low`: 低风险
          - `medium`: 中风险
          - `high`: 高风险
        - **label**: 内容标签，`nsfw` 或 `normal`
        - **confidence**: 模型对当前判断的整体置信度
        - **inference_time_ms**: 模型推理耗时，单位毫秒
      externalDocs:
        description: Interactive API reference
        url: https://uapis.cn/docs/api-reference/post-image-nsfw
      operationId: post-image-nsfw
      parameters: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/post_image_nsfw_request"
        description: 包含图片来源的表单数据。必须提供 'file' 或 'url' 两者之一。
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/post_image_nsfw_200_response"
          description: 检测成功！返回图片的 NSFW 分析结果。
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/post_image_nsfw_400_response"
          description: 请求参数错误。可能是未提供图片、文件格式不支持或文件过大。
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/post_image_nsfw_413_response"
          description: 文件过大。上传的图片超过了 20MB 的限制。
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/post_image_nsfw_500_response"
          description: 服务器内部错误。在处理图片或进行 NSFW 检测时发生错误。
      security:
      - BearerAuth: []
      summary: 图片敏感检测
      tags:
      - Image
      x-search-words:
      - 图片审核
      - 图片审核API
      - 免费图片审核
      - 图片敏感
      - 敏感图片
      - 敏感图片检测
      - 内容审核
      - 内容安全
      - 图片检测
      - 违规检测
      - UGC审核
      - 图片过滤
      - 图片安全
      - 自动审核
      - 内容过滤
      - 图片合规
      - 图片风控
      - 在线审核
      x-faq:
      - answer: 基于深度学习模型，大部分场景准确率90%+。建议 suggestion 返回 review 时转人工复核。
        question: 准确率怎么样？
      - answer: 支持 JPG、PNG、GIF、WebP 格式，文件最大 20MB。
        question: 支持什么格式？
      - answer: 上传图片或传 URL，根据返回的 suggestion 字段处理：pass 放行，review 人工看，block 拦截。
        question: 怎么接入？
      x-jsonld:
        '@context': https://schema.org
        '@type': TechnicalArticle
        about:
        - '@type': Thing
          description: POST https://uapis.cn/api/v1/image/nsfw
          name: API端点
        - '@type': Thing
          description: 上传图片文件或传图片URL
          name: 使用方式
        - '@type': Thing
          description: JPG、PNG、GIF、WebP，最大20MB
          name: 支持格式
        - '@type': Thing
          description: 是否涉黄、风险等级、处理建议
          name: 返回结果
        author:
          '@type': Organization
          name: UAPI
          url: https://uapis.cn
        dateModified: 2026-02-03
        datePublished: 2024-01-01
        description: 免费图片审核API接口，自动检测用户上传图片中的违规内容。支持上传文件或URL，秒级返回审核结果、风险等级和处理建议。
        headline: 免费图片审核API接口 - 自动检测违规内容
        mainEntity:
          '@type': SoftwareApplication
          applicationCategory: WebAPI
          name: 免费图片审核API
          offers:
            '@type': Offer
            price: "0"
            priceCurrency: CNY
          operatingSystem: All
          url: https://uapis.cn/api/v1/image/nsfw
        publisher:
          '@type': Organization
          name: UAPI
          url: https://uapis.cn
      x-seo-optimized-text: 免费图片审核、敏感检测API接口，自动检测用户上传图片中的违规内容。支持上传文件或URL，秒级返回审核结果、风险等级和处理建议。适用于社交平台、电商、论坛等UGC场景的内容安全审核。
      x-seo-keywords:
      - 免费图片审核API
      - 图片审核接口
      - 图片内容检测
      - 图片敏感检测
      - 敏感图片识别
      - UGC图片审核
      - 图片违规检测
      - 内容安全API
      - 图片过滤接口
      - 在线图片审核
      x-seo-title: 免费图片审核API接口 - 敏感图片检测/违规内容识别
      x-seo-usage-scenarios: 社交App用户头像审核、电商平台商品图检测、论坛UGC图片过滤、在线教育内容安全、直播平台截图审核、小程序图片检测、企业内容合规
      x-seo-related-apis:
      - 图片处理
      - 图片压缩
      - 图片上传
      - 内容安全
      x-docs-url: https://uapis.cn/docs/api-reference/post-image-nsfw
  /image/ocr:
    post:
      description: |-
        无论您是需要实现票据的自动化录入，还是在网页前端对图片上的文字进行坐标框选，这个高精度的 OCR 接口都能为您提供强大的基础能力。

        ## 功能概述
        > [!IMPORTANT]
        > 如果您只关心图片上写了什么（例如截图取字或内容安全审核），强烈建议将 `need_location` 设置为 `false`。这会大幅精简返回的 JSON 数据体积，提升网络传输与系统解析效率。

        除了常规的图片转文字，这个接口还针对实际开发场景做了一些实用设计：
        - **前端文字高亮与结构化分析**：默认返回每一段文字的矩形坐标和四个顶点坐标。这非常适合使用 Canvas 在原图上画框高亮，或者在后端根据相对位置提取票据中的键值对信息。
        - **复杂拍摄环境下的抗畸变**：针对手机拍摄导致的旋转或倾斜，可以开启 `enable_cls=true`。服务端在识别前会自动进行方向预校正，显著提升识别准确率。
        - **灵活的输入与请求要求**：接口支持 `file`、`url` 或 `image_base64` 三种方式输入。请确保请求格式为 `multipart/form-data`，且图片链接在公网可直接访问。
      externalDocs:
        description: Interactive API reference
        url: https://uapis.cn/docs/api-reference/post-image-ocr
      operationId: post-image-ocr
      parameters: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/post_image_ocr_request"
        description: 包含待识别图像及可选配置的表单数据。无论使用哪种输入方式，请求体均需采用 `multipart/form-data` 格式。请在
          `file`、`url` 或 `image_base64` 中选择一种作为输入源。
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/post_image_ocr_200_response"
          description: 识别成功，返回统一的 OCR 结果对象。默认会带坐标信息；当 `need_location=false` 时，坐标相关字段会省略。
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/post_image_ocr_400_response"
          description: 请求参数不正确，比如没有传图片来源、提交了多重图片来源，或者布尔参数和 Base64 格式不合法。
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/post_image_ocr_413_response"
          description: 图片大小超过当前限制。
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/post_image_ocr_415_response"
          description: 上传内容不是可识别的常见图片格式。
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/post_image_ocr_502_response"
          description: 识别处理失败，请稍后重试。
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/post_image_ocr_503_response"
          description: 文字识别服务暂时不可用，请稍后再试。
      summary: 通用 OCR 文字识别
      tags:
      - Image
      x-search-words:
      - ocr
      - 图片ocr
      - 文字识别
      - 图片转文字
      - 提取文字
      - 截图取字
      - 拍照取字
      - 坐标
      - ocr转markdown
      - ocr markdown
      - 票据
      - 证件
      - base64 ocr
      - url ocr
      x-faq:
      - answer: 您可以遍历 `words_result` 数组，读取每一项里的 `location`。其中 `left` 和 `top` 是左上角坐标，`width`
          和 `height` 是矩形尺寸，直接传给 Canvas 的 `strokeRect` 就可以画出识别框。
        question: 如何在前端 Canvas 里根据坐标做文字框选？
      - answer: Base64 会让图片体积额外膨胀一部分。如果原图本身已经比较大，转成 Base64 后更容易触发请求体大小限制。对大图来说，更建议直接传
          `file`，或者先把图片放到公网地址再传 `url`。
        question: 为什么传 Base64 时更容易报体积过大？
      - answer: 这种场景建议把 `enable_cls` 设为 `true`。服务端会先尝试做文字方向校正，再进入识别流程，通常会比直接识别更稳定。
        question: 拍歪的票据或截图识别效果不稳定怎么办？
      x-seo-optimized-text: 免费高精度通用 OCR 文字识别 API 接口，可以通过本地文件、图片链接或 Base64 提交图片，准确提取完整文本、逐段文字和坐标信息。适合票据识别、证件扫描、截图取字、文档数字化和自动化表单录入等场景。
      x-seo-keywords:
      - 免费OCR接口
      - 文字识别API
      - 通用OCR
      - 图片转文字
      - 图片提取文字
      - 截图取字
      - 带坐标OCR
      - 票据识别接口
      - 证件识别API
      - 拍照取字
      - image ocr api
      - ocr 坐标 api
      x-seo-title: 【免费】通用OCR文字识别API - 高精度提取文本与坐标
      x-seo-usage-scenarios: 适用于票据截图识别、表单自动录入、合同扫描件文本提取、图片文本标注框选、拍照取字、证件信息识别和结构化数据抽取等场景
      x-seo-related-apis:
      - 图片转 Base64
      - 解码并缩放图片
      - 图片压缩
      - 图片敏感检测
      x-docs-url: https://uapis.cn/docs/api-reference/post-image-ocr
  /image/qrcode:
    get:
      description: |-
        无论是网址、文本还是联系方式，通通可以变成一个二维码！这是一个非常灵活的二维码生成工具。

        ## 功能概述
        你提供一段文本内容，我们为你生成对应的二维码图片。你可以自定义尺寸、前景色、背景色，还支持透明背景，并选择不同的返回格式以适应不同场景。
      externalDocs:
        description: Interactive API reference
        url: https://uapis.cn/docs/api-reference/get-image-qrcode
      operationId: get-image-qrcode
      parameters:
      - description: 你希望编码到二维码中的任何文本内容，比如一个URL、一段话或者一个JSON字符串。
        example: https://www.bilibili.com/video/BV1uT4y1P7CX/
        explode: true
        in: query
        name: text
        required: true
        schema:
          example: https://www.bilibili.com/video/BV1uT4y1P7CX/
          type: string
        style: form
        x-tooltip: URL、文本、名片信息等都可以。
      - description: 二维码图片的边长（正方形），单位是像素。有效范围是 256 到 2048 之间。
        example: 512
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 256
          example: 512
          maximum: 2048.0
          type: integer
        style: form
        x-tooltip: 默认256px，最大2048px。
      - description: "指定响应内容的格式。可选值为 `image`, `json`, `json_url`。"
        example: image
        explode: true
        in: query
        name: format
        required: false
        schema:
          default: image
          enum:
          - image
          - json
          - json_url
          example: image
          type: string
        style: form
        x-tooltip: 默认为'image'，直接返回图片。
      - description: 是否使用透明背景。启用后生成的 PNG 图片将具有 alpha 通道，背景透明。
        explode: true
        in: query
        name: transparent
        required: false
        schema:
          default: false
          type: boolean
        style: form
        x-tooltip: 启用后 bgcolor 参数会被忽略。
      - description: 二维码前景色（即二维码本身的颜色），使用十六进制格式。URL 中需要将 `#` 编码为 `%23`。
        explode: true
        in: query
        name: fgcolor
        required: false
        schema:
          default: "#000000"
          type: string
        style: form
        x-tooltip: "默认黑色，URL中使用 %23 代替 #"
      - description: 二维码背景色，使用十六进制格式。当 `transparent=true` 时此参数会被忽略。URL 中需要将 `#` 编码为
          `%23`。
        explode: true
        in: query
        name: bgcolor
        required: false
        schema:
          default: "#FFFFFF"
          type: string
        style: form
        x-tooltip: 默认白色，透明背景时忽略此参数。
      responses:
        "200":
          content:
            image/png:
              schema:
                format: binary
                type: string
            application/json:
              schema:
                $ref: "#/components/schemas/get_image_qrcode_200_response"
          description: 请求成功。响应的格式和内容取决于你传入的 `format` 参数。请参考下面不同格式的定义。
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_image_qrcode_400_response"
          description: 请求参数错误。请检查 `text` 是否提供，`size` 是否在有效范围内，`format` 是否为支持的值。
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_image_qrcode_500_response"
          description: 服务器内部错误。在生成二维码的过程中发生了未知错误。
      summary: 生成二维码
      tags:
      - Image
      x-search-words:
      - 二维码
      - qrcode
      - 生成
      - 扫码
      - qr
      - generator
      - 链接
      - 文本
      - 名片
      - 透明
      - 颜色
      x-seo-optimized-text: 免费二维码生成API接口，支持自定义尺寸、颜色、透明背景和多种输出格式。将任意文本、网址、名片信息转换为二维码图片。支持直接返回图片、Base64编码、临时URL三种格式。无需注册，即调即用。
      x-seo-keywords:
      - 免费二维码API
      - 二维码生成接口
      - QRCode API
      - 在线生成二维码
      - 二维码图片API
      - 文本转二维码
      - 链接二维码生成
      - 名片二维码
      - 透明背景二维码
      - 自定义颜色二维码
      x-seo-title: 【免费】二维码生成API - 支持自定义尺寸、颜色和透明背景
      x-seo-usage-scenarios: 适用于支付二维码生成、分享链接二维码、电子名片、产品溯源码、活动签到码、WiFi连接码、批量二维码生成、品牌定制二维码等场景
      x-seo-related-apis:
      - 图片转Base64
      - Base64图片上传
      - 图片处理
      - 短链接
      x-docs-url: https://uapis.cn/docs/api-reference/get-image-qrcode
  /image/speechless:
    post:
      description: |-
        你们怎么不说话了？是不是都在偷偷玩Uapi，求求你们不要玩Uapi了

        ## 使用须知
        - **响应格式**：接口成功时直接返回 `image/png` 格式的二进制数据。
        - **文字内容**：至少需要提供 `top_text`（上方文字）或 `bottom_text`（下方文字）之一。
        - **梗图逻辑**：上方描述某个行为，下方通常以「们」开头表示劝阻，形成戏谑的对比效果。
      externalDocs:
        description: Interactive API reference
        url: https://uapis.cn/docs/api-reference/post-image-speechless
      operationId: post-image-speechless
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/post_image_speechless_request"
        description: 包含表情包文字内容的JSON对象。至少需要提供上方或下方文字之一。
        required: true
      responses:
        "200":
          content:
            image/png:
              schema:
                format: binary
                type: string
          description: 生成成功！响应体是PNG格式的表情包图片二进制数据。
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/post_image_speechless_400_response"
          description: 请求参数错误。必须提供 'top_text' 或 'bottom_text' 至少其中之一。
[...]
