/*
UAPI

UAPI 官方接口文档

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package uapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// SocialAPIService SocialAPI service
type SocialAPIService service

type ApiGetGithubRepoRequest struct {
	ctx context.Context
	ApiService *SocialAPIService
	repo *string
}

// 目标仓库的标识，格式为 &#x60;owner/repo&#x60;。
func (r ApiGetGithubRepoRequest) Repo(repo string) ApiGetGithubRepoRequest {
	r.repo = &repo
	return r
}

func (r ApiGetGithubRepoRequest) Execute() (*GetGithubRepo200Response, *http.Response, error) {
	return r.ApiService.GetGithubRepoExecute(r)
}

/*
GetGithubRepo 查询 GitHub 仓库

需要快速获取一个GitHub仓库的核心信息？这个接口为你聚合了最有价值的数据，避免了多次调用GitHub官方API的麻烦，并且内置了缓存优化，速度更快、更稳定。

### 聚合高价值数据
一次请求，即可获得以下信息：
- **核心指标**: `star`, `fork`, `open_issues` 等关键统计数据。
- **项目详情**: 描述、主页、分支、语言、话题标签、开源协议。
- **参与者信息**: 获取协作者(`collaborators`)和推断的维护者(`maintainers`)列表，包括他们的公开邮箱（如果可用）。

> [!NOTE]
> `collaborators` 字段在私有仓库或权限受限时可能为空。`maintainers` 是根据最新提交记录推断的，仅供参考。

### 性能与稳定性
我们内置了多级缓存，有效避免触发GitHub的API速率限制。对于需要更高请求额度的用户，可以联系我们定制接口。

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetGithubRepoRequest
*/
func (a *SocialAPIService) GetGithubRepo(ctx context.Context) ApiGetGithubRepoRequest {
	return ApiGetGithubRepoRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetGithubRepo200Response
func (a *SocialAPIService) GetGithubRepoExecute(r ApiGetGithubRepoRequest) (*GetGithubRepo200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetGithubRepo200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SocialAPIService.GetGithubRepo")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/github/repo"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.repo == nil {
		return localVarReturnValue, nil, reportError("repo is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "repo", r.repo, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v GetGithubRepo400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 502 {
			var v GetGithubRepo502Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetSocialBilibiliArchivesRequest struct {
	ctx context.Context
	ApiService *SocialAPIService
	mid *string
	keywords *string
	orderby *string
	ps *string
	pn *string
}

// B站用户的mid（用户ID）
func (r ApiGetSocialBilibiliArchivesRequest) Mid(mid string) ApiGetSocialBilibiliArchivesRequest {
	r.mid = &mid
	return r
}

// 搜索关键词，可为空
func (r ApiGetSocialBilibiliArchivesRequest) Keywords(keywords string) ApiGetSocialBilibiliArchivesRequest {
	r.keywords = &keywords
	return r
}

// 排序方式。&#x60;pubdate&#x60;&#x3D;最新发布，&#x60;views&#x60;&#x3D;最多播放
func (r ApiGetSocialBilibiliArchivesRequest) Orderby(orderby string) ApiGetSocialBilibiliArchivesRequest {
	r.orderby = &orderby
	return r
}

// 每页条数，默认20
func (r ApiGetSocialBilibiliArchivesRequest) Ps(ps string) ApiGetSocialBilibiliArchivesRequest {
	r.ps = &ps
	return r
}

// 页码，默认1
func (r ApiGetSocialBilibiliArchivesRequest) Pn(pn string) ApiGetSocialBilibiliArchivesRequest {
	r.pn = &pn
	return r
}

func (r ApiGetSocialBilibiliArchivesRequest) Execute() (*GetSocialBilibiliArchives200Response, *http.Response, error) {
	return r.ApiService.GetSocialBilibiliArchivesExecute(r)
}

/*
GetSocialBilibiliArchives 查询 B站投稿

想要获取UP主的所有投稿视频？或者想在你的应用里展示创作者的作品集？这个接口能帮你轻松实现。

## 功能概述
通过用户的 `mid`（用户ID），你可以获取该UP主的投稿视频列表。接口支持关键词搜索、分页加载和多种排序方式，让你能够灵活地展示和分析创作者的内容。

## 参数说明
- **`mid` (用户ID)**: B站用户的mid，必填参数。
- **`keywords` (搜索关键词)**: 可选，用于在该UP主的投稿中搜索特定关键词。
- **`orderby` (排序方式)**: 
  - `pubdate`: 按最新发布排序（默认）
  - `views`: 按最多播放排序
- **`ps` (每页条数)**: 默认20条。
- **`pn` (页码)**: 默认1，用于分页。

## 响应体字段说明
- **`total` (总稿件数)**: UP主的投稿总数。
- **`page` (当前页码)**: 当前返回的页码。
- **`size` (每页数量)**: 每页返回的视频数量。
- **`videos` (视频列表)**: 包含当前页的所有视频信息：
  - `aid`: 视频的AV号
  - `bvid`: 视频的BV号
  - `title`: 视频标题
  - `cover`: 封面URL
  - `duration`: 时长（秒）
  - `play_count`: 播放量
  - `publish_time`: 发布时间戳
  - `create_time`: 创建时间戳
  - `state`: 视频状态
  - `is_ugc_pay`: 是否付费视频（0=免费，1=付费）
  - `is_interactive`: 是否为互动视频

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetSocialBilibiliArchivesRequest
*/
func (a *SocialAPIService) GetSocialBilibiliArchives(ctx context.Context) ApiGetSocialBilibiliArchivesRequest {
	return ApiGetSocialBilibiliArchivesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetSocialBilibiliArchives200Response
func (a *SocialAPIService) GetSocialBilibiliArchivesExecute(r ApiGetSocialBilibiliArchivesRequest) (*GetSocialBilibiliArchives200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetSocialBilibiliArchives200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SocialAPIService.GetSocialBilibiliArchives")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/social/bilibili/archives"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.mid == nil {
		return localVarReturnValue, nil, reportError("mid is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "mid", r.mid, "form", "")
	if r.keywords != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "keywords", r.keywords, "form", "")
	}
	if r.orderby != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderby", r.orderby, "form", "")
	}
	if r.ps != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ps", r.ps, "form", "")
	}
	if r.pn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pn", r.pn, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v GetSocialBilibiliArchives400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetSocialBilibiliArchives404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v GetSocialBilibiliArchives500Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetSocialBilibiliLiveroomRequest struct {
	ctx context.Context
	ApiService *SocialAPIService
	mid *string
	roomId *string
}

// 主播的用户ID (&#x60;mid&#x60;)。与 &#x60;room_id&#x60; 任选其一。
func (r ApiGetSocialBilibiliLiveroomRequest) Mid(mid string) ApiGetSocialBilibiliLiveroomRequest {
	r.mid = &mid
	return r
}

// 直播间ID，可以是长号（真实ID）或短号（靓号）。与 &#x60;mid&#x60; 任选其一。
func (r ApiGetSocialBilibiliLiveroomRequest) RoomId(roomId string) ApiGetSocialBilibiliLiveroomRequest {
	r.roomId = &roomId
	return r
}

func (r ApiGetSocialBilibiliLiveroomRequest) Execute() (*GetSocialBilibiliLiveroom200Response, *http.Response, error) {
	return r.ApiService.GetSocialBilibiliLiveroomExecute(r)
}

/*
GetSocialBilibiliLiveroom 查询 B站直播间

想知道你喜欢的主播开播了吗？或者想在你的应用里集成B站直播间状态？这个接口能满足你。

## 功能概述
这是一个智能接口，你可以用主播的 `mid` (用户ID) 或者直播间的 `room_id` (长号或短号)来查询。它会返回直播间的详细信息，包括是否在直播、标题、封面、人气、分区等。

## 响应体字段说明
- **`live_status` (直播状态)**: `0` 代表未开播，`1` 代表直播中，`2` 代表轮播中。

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetSocialBilibiliLiveroomRequest
*/
func (a *SocialAPIService) GetSocialBilibiliLiveroom(ctx context.Context) ApiGetSocialBilibiliLiveroomRequest {
	return ApiGetSocialBilibiliLiveroomRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetSocialBilibiliLiveroom200Response
func (a *SocialAPIService) GetSocialBilibiliLiveroomExecute(r ApiGetSocialBilibiliLiveroomRequest) (*GetSocialBilibiliLiveroom200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetSocialBilibiliLiveroom200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SocialAPIService.GetSocialBilibiliLiveroom")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/social/bilibili/liveroom"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.mid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "mid", r.mid, "form", "")
	}
	if r.roomId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "room_id", r.roomId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetSocialBilibiliRepliesRequest struct {
	ctx context.Context
	ApiService *SocialAPIService
	oid *string
	sort *string
	ps *string
	pn *string
}

// 目标评论区的ID。对于视频，这通常就是它的 &#x60;aid&#x60;。
func (r ApiGetSocialBilibiliRepliesRequest) Oid(oid string) ApiGetSocialBilibiliRepliesRequest {
	r.oid = &oid
	return r
}

// 排序方式。支持 &#x60;0/time&#x60;（按时间）、&#x60;1/like&#x60;（按点赞）、&#x60;2/reply&#x60;（按回复数）、&#x60;3/hot/hottest/最热&#x60;（按最热）。默认为 &#x60;0/time&#x60;。
func (r ApiGetSocialBilibiliRepliesRequest) Sort(sort string) ApiGetSocialBilibiliRepliesRequest {
	r.sort = &sort
	return r
}

// 每页获取的评论数量，范围是1到20。默认为 &#x60;20&#x60;。
func (r ApiGetSocialBilibiliRepliesRequest) Ps(ps string) ApiGetSocialBilibiliRepliesRequest {
	r.ps = &ps
	return r
}

// 要获取的页码，从1开始。默认为 &#x60;1&#x60;。
func (r ApiGetSocialBilibiliRepliesRequest) Pn(pn string) ApiGetSocialBilibiliRepliesRequest {
	r.pn = &pn
	return r
}

func (r ApiGetSocialBilibiliRepliesRequest) Execute() (*GetSocialBilibiliReplies200Response, *http.Response, error) {
	return r.ApiService.GetSocialBilibiliRepliesExecute(r)
}

/*
GetSocialBilibiliReplies 查询 B站评论

想要分析B站视频的评论区？这个接口可以帮你轻松获取评论数据，包括热门评论和最新评论，还支持分页加载。

## 功能概述
通过视频的 `oid`（通常就是视频的`aid`），你可以分页获取该视频的评论区内容。你可以指定排序方式和分页参数，来精确地获取你需要的数据。

## 参数说明
- **`sort` (排序方式)**
  - `0` 或 `time`：按时间排序
  - `1` 或 `like`：按点赞排序
  - `2` 或 `reply`：按回复数排序
  - `3` 或 `hot`（也支持 `hottest`、`最热`）：按最热排序

## 响应体字段说明
- **`hots` (热门评论)**: 仅在请求第一页时，可能会返回热门评论列表。其结构与 `replies` 中的对象一致。
- **`replies` (评论列表)**: 这是一个数组，包含了当前页的评论。其中：
  - `root`: 指向根评论的ID。如果评论本身就是根评论，则为 `0`。
  - `parent`: 指向该条回复所回复的上一级评论ID。如果评论是根评论，则为 `0`。

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetSocialBilibiliRepliesRequest
*/
func (a *SocialAPIService) GetSocialBilibiliReplies(ctx context.Context) ApiGetSocialBilibiliRepliesRequest {
	return ApiGetSocialBilibiliRepliesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetSocialBilibiliReplies200Response
func (a *SocialAPIService) GetSocialBilibiliRepliesExecute(r ApiGetSocialBilibiliRepliesRequest) (*GetSocialBilibiliReplies200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetSocialBilibiliReplies200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SocialAPIService.GetSocialBilibiliReplies")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/social/bilibili/replies"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.oid == nil {
		return localVarReturnValue, nil, reportError("oid is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "oid", r.oid, "form", "")
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.ps != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ps", r.ps, "form", "")
	}
	if r.pn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pn", r.pn, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetSocialBilibiliUserinfoRequest struct {
	ctx context.Context
	ApiService *SocialAPIService
	uid *string
}

// Bilibili用户的UID
func (r ApiGetSocialBilibiliUserinfoRequest) Uid(uid string) ApiGetSocialBilibiliUserinfoRequest {
	r.uid = &uid
	return r
}

func (r ApiGetSocialBilibiliUserinfoRequest) Execute() (*GetSocialBilibiliUserinfo200Response, *http.Response, error) {
	return r.ApiService.GetSocialBilibiliUserinfoExecute(r)
}

/*
GetSocialBilibiliUserinfo 查询 B站用户

想在你的应用里集成B站用户资料展示？这个接口可以轻松获取用户的公开信息。

## 功能概述
通过一个用户的UID（那一串纯数字ID），你可以查询到该用户的昵称、性别、头像、等级、签名等一系列公开的基本信息。

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetSocialBilibiliUserinfoRequest
*/
func (a *SocialAPIService) GetSocialBilibiliUserinfo(ctx context.Context) ApiGetSocialBilibiliUserinfoRequest {
	return ApiGetSocialBilibiliUserinfoRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetSocialBilibiliUserinfo200Response
func (a *SocialAPIService) GetSocialBilibiliUserinfoExecute(r ApiGetSocialBilibiliUserinfoRequest) (*GetSocialBilibiliUserinfo200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetSocialBilibiliUserinfo200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SocialAPIService.GetSocialBilibiliUserinfo")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/social/bilibili/userinfo"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.uid == nil {
		return localVarReturnValue, nil, reportError("uid is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "uid", r.uid, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v GetSocialBilibiliUserinfo400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetSocialBilibiliUserinfo404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 502 {
			var v GetSocialBilibiliUserinfo502Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetSocialBilibiliVideoinfoRequest struct {
	ctx context.Context
	ApiService *SocialAPIService
	aid *string
	bvid *string
}

// 视频的AV号 (aid)，纯数字格式。&#x60;aid&#x60;和&#x60;bvid&#x60;任选其一即可。
func (r ApiGetSocialBilibiliVideoinfoRequest) Aid(aid string) ApiGetSocialBilibiliVideoinfoRequest {
	r.aid = &aid
	return r
}

// 视频的BV号 (bvid)，例如 &#x60;BV117411r7R1&#x60;。&#x60;aid&#x60;和&#x60;bvid&#x60;任选其一即可。
func (r ApiGetSocialBilibiliVideoinfoRequest) Bvid(bvid string) ApiGetSocialBilibiliVideoinfoRequest {
	r.bvid = &bvid
	return r
}

func (r ApiGetSocialBilibiliVideoinfoRequest) Execute() (*GetSocialBilibiliVideoinfo200Response, *http.Response, error) {
	return r.ApiService.GetSocialBilibiliVideoinfoExecute(r)
}

/*
GetSocialBilibiliVideoinfo 查询 B站视频

想在你的应用里展示B站视频的详细信息吗？无论是封面、标题，还是播放量、UP主信息，这个接口都能一网打尽。

## 功能概述
通过提供视频的 `aid` 或 `bvid`，你可以获取到该视频的完整元数据，包括多P信息、UP主资料、数据统计等。

## 响应体字段说明
- **`copyright` (视频类型)**: `1` 代表原创，`2` 代表转载。
- **`owner` (UP主信息)**: 包含 `mid`, `name`, `face` 等UP主的基本资料。
- **`stat` (数据统计)**: 包含了播放、弹幕、评论、点赞、投币、收藏、分享等核心数据。
- **`pages` (分P列表)**: 这是一个数组，包含了视频的每一个分P的信息，即使是单P视频也会有一个元素。

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetSocialBilibiliVideoinfoRequest
*/
func (a *SocialAPIService) GetSocialBilibiliVideoinfo(ctx context.Context) ApiGetSocialBilibiliVideoinfoRequest {
	return ApiGetSocialBilibiliVideoinfoRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetSocialBilibiliVideoinfo200Response
func (a *SocialAPIService) GetSocialBilibiliVideoinfoExecute(r ApiGetSocialBilibiliVideoinfoRequest) (*GetSocialBilibiliVideoinfo200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetSocialBilibiliVideoinfo200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SocialAPIService.GetSocialBilibiliVideoinfo")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/social/bilibili/videoinfo"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.aid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "aid", r.aid, "form", "")
	}
	if r.bvid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bvid", r.bvid, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetSocialQqGroupinfoRequest struct {
	ctx context.Context
	ApiService *SocialAPIService
	groupId *string
}

// QQ群号，长度5-12位
func (r ApiGetSocialQqGroupinfoRequest) GroupId(groupId string) ApiGetSocialQqGroupinfoRequest {
	r.groupId = &groupId
	return r
}

func (r ApiGetSocialQqGroupinfoRequest) Execute() (*GetSocialQqGroupinfo200Response, *http.Response, error) {
	return r.ApiService.GetSocialQqGroupinfoExecute(r)
}

/*
GetSocialQqGroupinfo 查询 QQ 群信息

想在你的应用里展示QQ群信息？这个接口让你轻松获取群名称、群头像、群简介、成员数量等详细公开信息。它能帮你快速构建社群导航站、群聊推荐系统，或是为你的数据分析工具提供可靠的数据源。

> [!VIP]
> 本API目前处于**限时免费**阶段，我们鼓励开发者集成和测试。未来，它将转为付费API，为用户提供更稳定和强大的服务。

## 功能概述
你只需要提供一个QQ群号（5-12位纯数字），接口就会返回该群的完整公开信息。我们会先验证群号的有效性，确保返回的数据准确可靠。接口响应速度快，数据结构清晰，非常适合集成到各类应用场景中。

## 返回数据说明
接口会返回以下QQ群的关键信息：

### 基础字段（所有群都有）
- **群基础信息**: 包括群号、群名称，让你能够准确识别和展示群聊
- **视觉素材**: 提供群头像URL（支持多种尺寸），可直接用于在你的界面中展示群聊图标
- **群介绍资料**: 包含群描述/简介和群标签，帮助用户了解群聊的主题和特色
- **便捷入口**: 返回加群链接（二维码URL），方便用户一键加入感兴趣的群聊
- **成员统计**: 当前成员数和最大成员数，直观了解群规模
- **数据时效**: 提供最后更新时间戳，让你了解数据的新鲜度

### 扩展字段（部分群有）
- **活跃度**: 活跃成员数量（可选）
- **群主信息**: 群主QQ号和UID（可选）
- **时间信息**: 建群时间戳和格式化时间（可选）
- **群等级**: 群等级数值（可选）
- **群公告**: 群公告/简介内容（可选）
- **认证信息**: 官方认证类型和说明（可选）

所有返回的数据都遵循标准的JSON格式，字段命名清晰，便于解析和使用。扩展字段仅在数据可用时返回，保持响应体精简。

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetSocialQqGroupinfoRequest
*/
func (a *SocialAPIService) GetSocialQqGroupinfo(ctx context.Context) ApiGetSocialQqGroupinfoRequest {
	return ApiGetSocialQqGroupinfoRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetSocialQqGroupinfo200Response
func (a *SocialAPIService) GetSocialQqGroupinfoExecute(r ApiGetSocialQqGroupinfoRequest) (*GetSocialQqGroupinfo200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetSocialQqGroupinfo200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SocialAPIService.GetSocialQqGroupinfo")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/social/qq/groupinfo"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.groupId == nil {
		return localVarReturnValue, nil, reportError("groupId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "group_id", r.groupId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v GetSocialQqGroupinfo400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetSocialQqGroupinfo404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetSocialQqUserinfoRequest struct {
	ctx context.Context
	ApiService *SocialAPIService
	qq *string
}

// 需要查询的QQ号
func (r ApiGetSocialQqUserinfoRequest) Qq(qq string) ApiGetSocialQqUserinfoRequest {
	r.qq = &qq
	return r
}

func (r ApiGetSocialQqUserinfoRequest) Execute() (*GetSocialQqUserinfo200Response, *http.Response, error) {
	return r.ApiService.GetSocialQqUserinfoExecute(r)
}

/*
GetSocialQqUserinfo 查询 QQ 信息

这是一个功能丰富的QQ用户信息查询接口，能够获取QQ用户的详细公开信息。

> [!VIP]
> 我们在近日优化了此接口，速度应该会更加快了。 

## 功能概述
通过QQ号查询用户的详细信息，包括基础资料、等级信息、VIP状态等。返回的信息丰富全面，适合用于用户画像分析、社交应用集成等场景。

## 数据字段说明
- **基础信息**: 昵称、个性签名、头像、年龄、性别
- **联系信息**: QQ邮箱、个性域名(QID)
- **等级信息**: QQ等级、VIP状态和等级
- **时间信息**: 注册时间、最后更新时间

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetSocialQqUserinfoRequest
*/
func (a *SocialAPIService) GetSocialQqUserinfo(ctx context.Context) ApiGetSocialQqUserinfoRequest {
	return ApiGetSocialQqUserinfoRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetSocialQqUserinfo200Response
func (a *SocialAPIService) GetSocialQqUserinfoExecute(r ApiGetSocialQqUserinfoRequest) (*GetSocialQqUserinfo200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetSocialQqUserinfo200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SocialAPIService.GetSocialQqUserinfo")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/social/qq/userinfo"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.qq == nil {
		return localVarReturnValue, nil, reportError("qq is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "qq", r.qq, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v GetSocialQqUserinfo400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetSocialQqUserinfo404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
