/*
UAPI OpenAPI

Generated from UAPI JSON. Code is the interactive documentation: rich descriptions, examples, and x-extensions preserved.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package uapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"os"
)


// AIGCAPIService AIGCAPI service
type AIGCAPIService service

type ApiPostWatermarkDecodeRequest struct {
	ctx context.Context
	ApiService *AIGCAPIService
	ecc *string
	file *os.File
	imageBase64 *string
	modelType *string
	url *string
}

// 纠错强度，必须和嵌入时填的一致，否则无法正确提取。[查看各档位](#enum-list)
func (r ApiPostWatermarkDecodeRequest) Ecc(ecc string) ApiPostWatermarkDecodeRequest {
	r.ecc = &ecc
	return r
}

// 要提取水印的图片文件，支持 PNG、JPEG、WebP。
func (r ApiPostWatermarkDecodeRequest) File(file *os.File) ApiPostWatermarkDecodeRequest {
	r.file = file
	return r
}

// 图片的 Base64 编码，可携带或省略 data: 前缀。
func (r ApiPostWatermarkDecodeRequest) ImageBase64(imageBase64 string) ApiPostWatermarkDecodeRequest {
	r.imageBase64 = &imageBase64
	return r
}

// 水印档位，必须和嵌入时用的一致，否则无法正确提取。[查看各档位](#enum-list)
func (r ApiPostWatermarkDecodeRequest) ModelType(modelType string) ApiPostWatermarkDecodeRequest {
	r.modelType = &modelType
	return r
}

// 图片链接，需确保公网可直接访问。
func (r ApiPostWatermarkDecodeRequest) Url(url string) ApiPostWatermarkDecodeRequest {
	r.url = &url
	return r
}

func (r ApiPostWatermarkDecodeRequest) Execute() (*PostWatermarkDecode200Response, *http.Response, error) {
	return r.ApiService.PostWatermarkDecodeExecute(r)
}

/*
PostWatermarkDecode 提取图片隐水印

遇到一张疑似被盗用或 AI 生成的图片，想查查它有没有被打过“思想钢印”？直接把图片扔给这个接口，它能把藏在里面的标识完完整整地提取出来。

## 功能概述
此接口用于检测图片中是否包含隐形水印，若存在则还原出写入的原始标识内容。即使图片经历过压缩、截取或多次网络转发，也具备较高的成功提取率。接口具备防误判机制，若图片确实未经过处理，会明确返回未检测到结果，而不会强制拼接无效内容。

## 使用须知
如果您在嵌入水印时修改过进阶参数（如 `ecc` 或 `model_type`），在提取时必须传入相同的参数值。若嵌入时使用的是默认配置，此处直接留空即可。

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPostWatermarkDecodeRequest
*/
func (a *AIGCAPIService) PostWatermarkDecode(ctx context.Context) ApiPostWatermarkDecodeRequest {
	return ApiPostWatermarkDecodeRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PostWatermarkDecode200Response
func (a *AIGCAPIService) PostWatermarkDecodeExecute(r ApiPostWatermarkDecodeRequest) (*PostWatermarkDecode200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PostWatermarkDecode200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AIGCAPIService.PostWatermarkDecode")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/watermark/decode"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ecc != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "ecc", r.ecc, "", "")
	}
	var fileLocalVarFormFileName string
	var fileLocalVarFileName     string
	var fileLocalVarFileBytes    []byte

	fileLocalVarFormFileName = "file"
	fileLocalVarFile := r.file

	if fileLocalVarFile != nil {
		fbs, _ := io.ReadAll(fileLocalVarFile)

		fileLocalVarFileBytes = fbs
		fileLocalVarFileName = fileLocalVarFile.Name()
		fileLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: fileLocalVarFileBytes, fileName: fileLocalVarFileName, formFileName: fileLocalVarFormFileName})
	}
	if r.imageBase64 != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "image_base64", r.imageBase64, "", "")
	}
	if r.modelType != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "model_type", r.modelType, "", "")
	}
	if r.url != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "url", r.url, "", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v PostWatermarkDecode400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v PostWatermarkDecode503Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostWatermarkEmbedRequest struct {
	ctx context.Context
	ApiService *AIGCAPIService
	payload *string
	ecc *string
	file *os.File
	imageBase64 *string
	jpegQuality *int32
	modelType *string
	outFormat *string
	strength *float32
	url *string
}

// 需要嵌入图片的隐形标识内容。
func (r ApiPostWatermarkEmbedRequest) Payload(payload string) ApiPostWatermarkEmbedRequest {
	r.payload = &payload
	return r
}

// 纠错强度，决定水印能抗多少损坏、最多能嵌入多少字符：纠错越强，图片被压缩、裁剪后越容易读回，但能嵌入的字符越少。不填默认 &#x60;BCH_4&#x60;。[查看各档位](#enum-list)
func (r ApiPostWatermarkEmbedRequest) Ecc(ecc string) ApiPostWatermarkEmbedRequest {
	r.ecc = &ecc
	return r
}

// 要加水印的图片文件，支持 PNG、JPEG、WebP。
func (r ApiPostWatermarkEmbedRequest) File(file *os.File) ApiPostWatermarkEmbedRequest {
	r.file = file
	return r
}

// 图片的 Base64 编码，可携带或省略 data: 前缀。
func (r ApiPostWatermarkEmbedRequest) ImageBase64(imageBase64 string) ApiPostWatermarkEmbedRequest {
	r.imageBase64 = &imageBase64
	return r
}

// 输出 JPEG 时的图像质量，范围 1 到 100。
func (r ApiPostWatermarkEmbedRequest) JpegQuality(jpegQuality int32) ApiPostWatermarkEmbedRequest {
	r.jpegQuality = &jpegQuality
	return r
}

// 水印档位，在稳健性和画质之间取舍。不填默认 &#x60;B&#x60;。[查看各档位](#enum-list)
func (r ApiPostWatermarkEmbedRequest) ModelType(modelType string) ApiPostWatermarkEmbedRequest {
	r.modelType = &modelType
	return r
}

// 输出的图片格式。不填则默认保持与原图一致。
func (r ApiPostWatermarkEmbedRequest) OutFormat(outFormat string) ApiPostWatermarkEmbedRequest {
	r.outFormat = &outFormat
	return r
}

// 水印写入强度，默认 &#x60;1.0&#x60;。调高更不容易被压缩、转发破坏，但更可能被肉眼看出；调低更隐蔽，但抗损坏能力下降。
func (r ApiPostWatermarkEmbedRequest) Strength(strength float32) ApiPostWatermarkEmbedRequest {
	r.strength = &strength
	return r
}

// 图片链接，需确保公网可直接访问。
func (r ApiPostWatermarkEmbedRequest) Url(url string) ApiPostWatermarkEmbedRequest {
	r.url = &url
	return r
}

func (r ApiPostWatermarkEmbedRequest) Execute() (*PostWatermarkEmbed200Response, *http.Response, error) {
	return r.ApiService.PostWatermarkEmbedExecute(r)
}

/*
PostWatermarkEmbed 添加图片隐水印

想给自己的原创图片打上专属烙印，又不想破坏画面美感？或者是为了 AIGC 生成的图片做后续溯源追踪？这个接口能帮您把自定义标识悄悄藏进图片里。

## 功能概述
您可以上传图片并指定一段标识文本，接口会利用算法将这段文本隐形嵌入到图片的像素之中。嵌入后的图片在肉眼看来毫无变化，但能够有效抵抗常见的缩放、裁剪、社交平台压缩与二次转发。适合用于标记图片来源、追踪分发渠道或进行隐蔽的版权确权。

## 使用须知
**容量限制**：受限于隐形水印的算法特性，图片能嵌入的字符长度有限（通常为短码）。建议只放入简短的溯源 ID 或特征码，将完整的映射信息存储在您自己的数据库中。

**参数说明**：提供图片的方式（`file` / `url` / `image_base64`）三选一即可；其他进阶参数如无特殊需求，建议保持留空使用默认最佳配置。

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPostWatermarkEmbedRequest
*/
func (a *AIGCAPIService) PostWatermarkEmbed(ctx context.Context) ApiPostWatermarkEmbedRequest {
	return ApiPostWatermarkEmbedRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PostWatermarkEmbed200Response
func (a *AIGCAPIService) PostWatermarkEmbedExecute(r ApiPostWatermarkEmbedRequest) (*PostWatermarkEmbed200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PostWatermarkEmbed200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AIGCAPIService.PostWatermarkEmbed")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/watermark/embed"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.payload == nil {
		return localVarReturnValue, nil, reportError("payload is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ecc != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "ecc", r.ecc, "", "")
	}
	var fileLocalVarFormFileName string
	var fileLocalVarFileName     string
	var fileLocalVarFileBytes    []byte

	fileLocalVarFormFileName = "file"
	fileLocalVarFile := r.file

	if fileLocalVarFile != nil {
		fbs, _ := io.ReadAll(fileLocalVarFile)

		fileLocalVarFileBytes = fbs
		fileLocalVarFileName = fileLocalVarFile.Name()
		fileLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: fileLocalVarFileBytes, fileName: fileLocalVarFileName, formFileName: fileLocalVarFormFileName})
	}
	if r.imageBase64 != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "image_base64", r.imageBase64, "", "")
	}
	if r.jpegQuality != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "jpeg_quality", r.jpegQuality, "", "")
	}
	if r.modelType != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "model_type", r.modelType, "", "")
	}
	if r.outFormat != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "out_format", r.outFormat, "", "")
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "payload", r.payload, "", "")
	if r.strength != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "strength", r.strength, "", "")
	}
	if r.url != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "url", r.url, "", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v PostWatermarkDecode400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 413 {
			var v PostWatermarkEmbed413Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v PostWatermarkDecode503Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostWatermarkLabelRequest struct {
	ctx context.Context
	ApiService *AIGCAPIService
	contentProducer *string
	contentPropagator *string
	embedWatermark *bool
	explicitHeightRatio *float32
	explicitLabel *bool
	explicitPosition *string
	explicitText *string
	file *os.File
	imageBase64 *string
	jpegQuality *int32
	label *string
	outFormat *string
	produceId *string
	propagateId *string
	skipMetadata *bool
	url *string
	watermarkPayload *string
}

// 必需：生成此图片的服务提供者编码（27 位）。
func (r ApiPostWatermarkLabelRequest) ContentProducer(contentProducer string) ApiPostWatermarkLabelRequest {
	r.contentProducer = &contentProducer
	return r
}

// 负责内容传播的服务提供者编码（27 位，可选）。
func (r ApiPostWatermarkLabelRequest) ContentPropagator(contentPropagator string) ApiPostWatermarkLabelRequest {
	r.contentPropagator = &contentPropagator
	return r
}

// 是否额外注入抗压缩的隐形水印。默认不开启。
func (r ApiPostWatermarkLabelRequest) EmbedWatermark(embedWatermark bool) ApiPostWatermarkLabelRequest {
	r.embedWatermark = &embedWatermark
	return r
}

// 角标文字高度占画面短边的比例。低于 0.05 会自动补偿至国标下限要求。
func (r ApiPostWatermarkLabelRequest) ExplicitHeightRatio(explicitHeightRatio float32) ApiPostWatermarkLabelRequest {
	r.explicitHeightRatio = &explicitHeightRatio
	return r
}

// 是否叠加可见的角标文字标识。默认不开启。
func (r ApiPostWatermarkLabelRequest) ExplicitLabel(explicitLabel bool) ApiPostWatermarkLabelRequest {
	r.explicitLabel = &explicitLabel
	return r
}

// 角标所处的相对位置，默认为右下角。
func (r ApiPostWatermarkLabelRequest) ExplicitPosition(explicitPosition string) ApiPostWatermarkLabelRequest {
	r.explicitPosition = &explicitPosition
	return r
}

// 角标显示的具体文案，默认为“AI 生成”。
func (r ApiPostWatermarkLabelRequest) ExplicitText(explicitText string) ApiPostWatermarkLabelRequest {
	r.explicitText = &explicitText
	return r
}

// 待处理的图片文件，支持 PNG、JPEG、WebP。
func (r ApiPostWatermarkLabelRequest) File(file *os.File) ApiPostWatermarkLabelRequest {
	r.file = file
	return r
}

// 图片的 Base64 编码，可携带或省略 data: 前缀。
func (r ApiPostWatermarkLabelRequest) ImageBase64(imageBase64 string) ApiPostWatermarkLabelRequest {
	r.imageBase64 = &imageBase64
	return r
}

// 输出 JPEG 时的图像质量，范围 1 到 100。
func (r ApiPostWatermarkLabelRequest) JpegQuality(jpegQuality int32) ApiPostWatermarkLabelRequest {
	r.jpegQuality = &jpegQuality
	return r
}

// 生成场景分类：1 代表 AI 生成合成，2 代表人机协同，3 代表其他情况。默认取值为 1。
func (r ApiPostWatermarkLabelRequest) Label(label string) ApiPostWatermarkLabelRequest {
	r.label = &label
	return r
}

// 输出的图片格式。不填则默认保持与原图一致。
func (r ApiPostWatermarkLabelRequest) OutFormat(outFormat string) ApiPostWatermarkLabelRequest {
	r.outFormat = &outFormat
	return r
}

// 服务侧内部生成的内容编号（可选）。
func (r ApiPostWatermarkLabelRequest) ProduceId(produceId string) ApiPostWatermarkLabelRequest {
	r.produceId = &produceId
	return r
}

// 传播方侧的内容编号（可选）。
func (r ApiPostWatermarkLabelRequest) PropagateId(propagateId string) ApiPostWatermarkLabelRequest {
	r.propagateId = &propagateId
	return r
}

// 是否跳过写入元数据标识。若设置为 true，则必须开启另外两项中的至少一项。
func (r ApiPostWatermarkLabelRequest) SkipMetadata(skipMetadata bool) ApiPostWatermarkLabelRequest {
	r.skipMetadata = &skipMetadata
	return r
}

// 图片链接，需确保公网可直接访问。
func (r ApiPostWatermarkLabelRequest) Url(url string) ApiPostWatermarkLabelRequest {
	r.url = &url
	return r
}

// 隐形水印中所记载的标识内容。
func (r ApiPostWatermarkLabelRequest) WatermarkPayload(watermarkPayload string) ApiPostWatermarkLabelRequest {
	r.watermarkPayload = &watermarkPayload
	return r
}

func (r ApiPostWatermarkLabelRequest) Execute() (*PostWatermarkLabel200Response, *http.Response, error) {
	return r.ApiService.PostWatermarkLabelExecute(r)
}

/*
PostWatermarkLabel 添加 AI 生成内容标识

AI 生成的图片上线前需要满足国标合规要求？别头疼，调用一次这个接口，就能自动给图片打上符合《GB 45438-2025》标准的三层标识。

## 三层标识说明
此接口一次性支持注入以下三种符合国标规范的标识：
- **元数据隐式标识**（默认开启）：在图片文件的 EXIF/XMP 元数据中记录此内容的“AI 生成”属性及服务提供者信息，不影响视觉呈现。
- **可见角标标识**（可选）：在图片指定角落叠加醒目的“AI 生成”文字，字号会自动计算以符合国标关于“字符高度不小于画面短边 5%”的规定。
- **隐形水印标识**（可选）：在图像像素深层嵌入抗压缩溯源信息。

## 使用须知
**必填说明**：根据规范，`content_producer`（服务提供者编码）为必填项。推荐使用本平台配套的 `/watermark/producer-code` 接口快速生成规范的 27 位服务提供者编码。

**标识组合**：若您需要关闭默认的元数据标识（`skip_metadata=true`），则必须至少开启可见角标或隐形水印中的一项，以保证图片拥有合规标识。

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPostWatermarkLabelRequest
*/
func (a *AIGCAPIService) PostWatermarkLabel(ctx context.Context) ApiPostWatermarkLabelRequest {
	return ApiPostWatermarkLabelRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PostWatermarkLabel200Response
func (a *AIGCAPIService) PostWatermarkLabelExecute(r ApiPostWatermarkLabelRequest) (*PostWatermarkLabel200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PostWatermarkLabel200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AIGCAPIService.PostWatermarkLabel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/watermark/label"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.contentProducer == nil {
		return localVarReturnValue, nil, reportError("contentProducer is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "content_producer", r.contentProducer, "", "")
	if r.contentPropagator != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "content_propagator", r.contentPropagator, "", "")
	}
	if r.embedWatermark != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "embed_watermark", r.embedWatermark, "", "")
	}
	if r.explicitHeightRatio != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "explicit_height_ratio", r.explicitHeightRatio, "", "")
	}
	if r.explicitLabel != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "explicit_label", r.explicitLabel, "", "")
	}
	if r.explicitPosition != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "explicit_position", r.explicitPosition, "", "")
	}
	if r.explicitText != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "explicit_text", r.explicitText, "", "")
	}
	var fileLocalVarFormFileName string
	var fileLocalVarFileName     string
	var fileLocalVarFileBytes    []byte

	fileLocalVarFormFileName = "file"
	fileLocalVarFile := r.file

	if fileLocalVarFile != nil {
		fbs, _ := io.ReadAll(fileLocalVarFile)

		fileLocalVarFileBytes = fbs
		fileLocalVarFileName = fileLocalVarFile.Name()
		fileLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: fileLocalVarFileBytes, fileName: fileLocalVarFileName, formFileName: fileLocalVarFormFileName})
	}
	if r.imageBase64 != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "image_base64", r.imageBase64, "", "")
	}
	if r.jpegQuality != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "jpeg_quality", r.jpegQuality, "", "")
	}
	if r.label != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "label", r.label, "", "")
	}
	if r.outFormat != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "out_format", r.outFormat, "", "")
	}
	if r.produceId != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "produce_id", r.produceId, "", "")
	}
	if r.propagateId != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "propagate_id", r.propagateId, "", "")
	}
	if r.skipMetadata != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "skip_metadata", r.skipMetadata, "", "")
	}
	if r.url != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "url", r.url, "", "")
	}
	if r.watermarkPayload != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "watermark_payload", r.watermarkPayload, "", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v PostWatermarkLabel400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 413 {
			var v PostWatermarkEmbed413Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v PostWatermarkDecode503Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostWatermarkProducerCodeRequest struct {
	ctx context.Context
	ApiService *AIGCAPIService
	postWatermarkProducerCodeRequest *PostWatermarkProducerCodeRequest
}

// 生成所需的身份信息，或用于校验的 27 位现成编码。支持 application/json。
func (r ApiPostWatermarkProducerCodeRequest) PostWatermarkProducerCodeRequest(postWatermarkProducerCodeRequest PostWatermarkProducerCodeRequest) ApiPostWatermarkProducerCodeRequest {
	r.postWatermarkProducerCodeRequest = &postWatermarkProducerCodeRequest
	return r
}

func (r ApiPostWatermarkProducerCodeRequest) Execute() (*PostWatermarkProducerCode200Response, *http.Response, error) {
	return r.ApiService.PostWatermarkProducerCodeExecute(r)
}

/*
PostWatermarkProducerCode 生成 AIGC 服务提供者编码

还在发愁怎么拼出符合《GB 45438-2025》要求的 27 位 AIGC 服务提供者编码？无论是想一键生成自己的专属合规编码，还是想校验已有编码对不对，这个接口都能帮您轻松搞定。

## 功能概述
此接口具备“生成”与“校验”双重能力：
- **生成模式**：填入组织或个人的主体身份信息与证件号，接口会自动处理复杂的拼位规则，输出标准的 27 位编码。
- **校验模式**：仅需填入现成的 `code`，接口将逐段拆解、验证其合法性，并解析出各个组成部分的实际含义。

## 使用须知
**模式互斥**：当您在请求体中填入了 `code` 参数时，接口会自动进入“校验模式”，其余的生成参数将被忽略；反之则进入“生成模式”。

**独立生成**：该编码不依赖向外部机构注册申请，而是基于您的法定身份标识（如企业统一社会信用代码、个人身份证等）根据标准算法独立生成即可。

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPostWatermarkProducerCodeRequest
*/
func (a *AIGCAPIService) PostWatermarkProducerCode(ctx context.Context) ApiPostWatermarkProducerCodeRequest {
	return ApiPostWatermarkProducerCodeRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PostWatermarkProducerCode200Response
func (a *AIGCAPIService) PostWatermarkProducerCodeExecute(r ApiPostWatermarkProducerCodeRequest) (*PostWatermarkProducerCode200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PostWatermarkProducerCode200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AIGCAPIService.PostWatermarkProducerCode")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/watermark/producer-code"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.postWatermarkProducerCodeRequest == nil {
		return localVarReturnValue, nil, reportError("postWatermarkProducerCodeRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.postWatermarkProducerCodeRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v PostWatermarkProducerCode400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
