/*
UAPI OpenAPI

Generated from UAPI JSON. Code is the interactive documentation: rich descriptions, examples, and x-extensions preserved.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package uapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"os"
)


// DailyAPIService DailyAPI service
type DailyAPIService service

type ApiGetDailyNewsImageRequest struct {
	ctx context.Context
	ApiService *DailyAPIService
}

func (r ApiGetDailyNewsImageRequest) Execute() (*os.File, *http.Response, error) {
	return r.ApiService.GetDailyNewsImageExecute(r)
}

/*
GetDailyNewsImage 每日新闻图

想用一张图快速了解天下大事？这个接口为你一键生成今日新闻摘要，非常适合用在早报、数字看板或应用首页等场景。

## 功能概述
此接口会实时抓取各大平台的热点新闻，并动态地将它们渲染成一张清晰、美观的摘要图片。你调用接口，直接就能得到一张可以展示的图片。

## 使用须知
调用此接口时，请务必注意以下两点：

1.  **响应格式是图片**：接口成功时直接返回 `image/jpeg` 格式的二进制数据，而非 JSON。请确保你的客户端能正确处理二进制流，例如直接在 `<img>` 标签中显示，或保存为 `.jpg` 文件。

2.  **设置合理超时**：由于涉及实时新闻抓取和图片渲染，处理过程可能耗时数秒。建议将客户端请求超时时间设置为至少10秒，以防止因等待过久而失败。

> [!IMPORTANT]
> 未能正确处理图片响应或超时设置过短，是导致调用失败的最常见原因。

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetDailyNewsImageRequest
*/
func (a *DailyAPIService) GetDailyNewsImage(ctx context.Context) ApiGetDailyNewsImageRequest {
	return ApiGetDailyNewsImageRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return *os.File
func (a *DailyAPIService) GetDailyNewsImageExecute(r ApiGetDailyNewsImageRequest) (*os.File, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *os.File
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DailyAPIService.GetDailyNewsImage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/daily/news-image"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"image/jpeg", "application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v GetDailyNewsImage500Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 502 {
			var v GetDailyNewsImage502Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetDailyWordRequest struct {
	ctx context.Context
	ApiService *DailyAPIService
	lang *string
	category *string
	count *int32
	date *string
	seed *int32
	example *bool
	phonetic *bool
	define *bool
}

// 语种，目前支持 en，默认 en。
func (r ApiGetDailyWordRequest) Lang(lang string) ApiGetDailyWordRequest {
	r.lang = &lang
	return r
}

// 词库范围：all/cet4/cet6/ielts/toefl/gre，默认 all。
func (r ApiGetDailyWordRequest) Category(category string) ApiGetDailyWordRequest {
	r.category = &category
	return r
}

// 返回数量，1-20，默认 1。
func (r ApiGetDailyWordRequest) Count(count int32) ApiGetDailyWordRequest {
	r.count = &count
	return r
}

// 日期，格式 YYYY-MM-DD，作为每日单词的种子基准。
func (r ApiGetDailyWordRequest) Date(date string) ApiGetDailyWordRequest {
	r.date = &date
	return r
}

// 固定种子，结果可复现；不可与 date 同时使用。
func (r ApiGetDailyWordRequest) Seed(seed int32) ApiGetDailyWordRequest {
	r.seed = &seed
	return r
}

// 是否返回例句，默认 true。
func (r ApiGetDailyWordRequest) Example(example bool) ApiGetDailyWordRequest {
	r.example = &example
	return r
}

// 是否返回音标，默认 true。
func (r ApiGetDailyWordRequest) Phonetic(phonetic bool) ApiGetDailyWordRequest {
	r.phonetic = &phonetic
	return r
}

// 是否为每个单词附带详细释义（音标发音、中英释义、词形、词组、近义词、双语例句），默认 false。
func (r ApiGetDailyWordRequest) Define(define bool) ApiGetDailyWordRequest {
	r.define = &define
	return r
}

func (r ApiGetDailyWordRequest) Execute() (*GetDailyWord200Response, *http.Response, error) {
	return r.ApiService.GetDailyWordExecute(r)
}

/*
GetDailyWord 每日单词

想给你的学习打卡、英语小组件或机器人推送加一个『每日单词』？这个接口每天给你一个稳定的单词，同一天多次请求结果一致。

## 功能概述
默认返回 1 个英文单词，支持按词库范围筛选，可选择是否附带例句和音标。也可以用 `count` 一次返回多个词，用于词汇复习列表。

## 词库选项
- `all`：全部英文词库，适合通用每日推荐。
- `cet4`：大学英语四级词汇，适合基础复习。
- `cet6`：大学英语六级词汇，适合进阶复习。
- `ielts`：雅思词汇，适合留学考试准备。
- `toefl`：托福词汇，适合北美考试准备。
- `gre`：GRE 词汇，适合高阶词汇训练。

## 使用须知
> [!IMPORTANT]
> `date` 与 `seed` 用于复现某一天或某个固定的取词结果，二者不能同时传入。

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetDailyWordRequest
*/
func (a *DailyAPIService) GetDailyWord(ctx context.Context) ApiGetDailyWordRequest {
	return ApiGetDailyWordRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetDailyWord200Response
func (a *DailyAPIService) GetDailyWordExecute(r ApiGetDailyWordRequest) (*GetDailyWord200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetDailyWord200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DailyAPIService.GetDailyWord")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/daily/word"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.lang != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "lang", r.lang, "form", "")
	} else {
        var defaultValue string = "en"
        parameterAddToHeaderOrQuery(localVarQueryParams, "lang", defaultValue, "form", "")
        r.lang = &defaultValue
	}
	if r.category != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "category", r.category, "form", "")
	} else {
        var defaultValue string = "all"
        parameterAddToHeaderOrQuery(localVarQueryParams, "category", defaultValue, "form", "")
        r.category = &defaultValue
	}
	if r.count != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "count", r.count, "form", "")
	} else {
        var defaultValue int32 = 1
        parameterAddToHeaderOrQuery(localVarQueryParams, "count", defaultValue, "form", "")
        r.count = &defaultValue
	}
	if r.date != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "date", r.date, "form", "")
	}
	if r.seed != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "seed", r.seed, "form", "")
	}
	if r.example != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "example", r.example, "form", "")
	} else {
        var defaultValue bool = true
        parameterAddToHeaderOrQuery(localVarQueryParams, "example", defaultValue, "form", "")
        r.example = &defaultValue
	}
	if r.phonetic != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "phonetic", r.phonetic, "form", "")
	} else {
        var defaultValue bool = true
        parameterAddToHeaderOrQuery(localVarQueryParams, "phonetic", defaultValue, "form", "")
        r.phonetic = &defaultValue
	}
	if r.define != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "define", r.define, "form", "")
	} else {
        var defaultValue bool = false
        parameterAddToHeaderOrQuery(localVarQueryParams, "define", defaultValue, "form", "")
        r.define = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
