/*
UAPI OpenAPI

Generated from UAPI JSON. Code is the interactive documentation: rich descriptions, examples, and x-extensions preserved.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package uapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// PoemAPIService PoemAPI service
type PoemAPIService service

type ApiGetSayingRequest struct {
	ctx context.Context
	ApiService *PoemAPIService
}

func (r ApiGetSayingRequest) Execute() (*GetSaying200Response, *http.Response, error) {
	return r.ApiService.GetSayingExecute(r)
}

/*
GetSaying 一言

想在你的应用里每天展示一句不一样的话，给用户一点小小的惊喜吗？这个“一言”接口就是为此而生。

## 功能概述
每次调用，它都会从我们精心收集的、包含数千条诗词、动漫台词、名人名言的语料库中，随机返回一条。你可以用它来做网站首页的Slogan、应用的启动语，或者任何需要灵感点缀的地方。

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetSayingRequest
*/
func (a *PoemAPIService) GetSaying(ctx context.Context) ApiGetSayingRequest {
	return ApiGetSayingRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetSaying200Response
func (a *PoemAPIService) GetSayingExecute(r ApiGetSayingRequest) (*GetSaying200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetSaying200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PoemAPIService.GetSaying")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/saying"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v GetSaying500Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetSayingRandomRequest struct {
	ctx context.Context
	ApiService *PoemAPIService
	mode *string
	scene *string
	source *string
	category *string
	tag *string
}

// 运行模式。不传或 random 为随机一言；可选 daily、recommend、moment。
func (r ApiGetSayingRandomRequest) Mode(mode string) ApiGetSayingRandomRequest {
	r.mode = &mode
	return r
}

// 推荐场景。当 mode&#x3D;recommend 时必填，例如 night、morning、work 等。请从[支持的场景列表](#enum-list)中选择。
func (r ApiGetSayingRandomRequest) Scene(scene string) ApiGetSayingRandomRequest {
	r.scene = &scene
	return r
}

// 语料来源过滤。支持重复传参，或使用逗号/分号分隔多个值。请从[支持的来源列表](#enum-list)中选择。
func (r ApiGetSayingRandomRequest) Source(source string) ApiGetSayingRandomRequest {
	r.source = &source
	return r
}

// 分类过滤。支持重复传参，或使用逗号/分号分隔多个值。请从[支持的分类列表](#enum-list)中选择。
func (r ApiGetSayingRandomRequest) Category(category string) ApiGetSayingRandomRequest {
	r.category = &category
	return r
}

// 标签过滤。支持重复传参，或使用逗号/分号分隔多个值。请从[支持的标签列表](#enum-list)中选择。
func (r ApiGetSayingRandomRequest) Tag(tag string) ApiGetSayingRandomRequest {
	r.tag = &tag
	return r
}

func (r ApiGetSayingRandomRequest) Execute() (*GetSayingRandom200Response, *http.Response, error) {
	return r.ApiService.GetSayingRandomExecute(r)
}

/*
GetSayingRandom 一言（随机/每日/场景/此刻）

一言接口，返回一条随机语录。通过 `mode` 参数切换四种返回方式，并支持按来源、分类、标签过滤。

## 四种模式（`mode`）
- **`random`（默认）**：每次调用随机返回一条语录。
- **`daily`**：同一天内返回固定的同一条，适合每日打卡、签到等场景。
- **`recommend`**：配合 `scene` 参数，返回指定场景（如 `night`、`morning`）的语录。
- **`moment`**：根据请求时所处时段，自动返回应景语录。

## 语言控制
语料分中英文两类，可通过 `source` 或 `category` 控制：
- 需要中文：`source` 选「综合句子语料库 / 曹星宇句子集」，或 `category` 选中文分类（如 影视、文学、诗词）。
- 需要英文：`source` 选「Quotable / 英文历史名言」。

## 使用须知
> [!NOTE]
> - `source`、`category`、`tag` 支持多值，用英文逗号 `,` 或分号 `;` 分隔。
> - `scene` 仅在 `mode=recommend` 时生效且必填，其他模式下会被忽略。
> - 请求示例：
>   - 随机：`GET /api/v1/saying/random`
>   - 每日：`GET /api/v1/saying/random?mode=daily`
>   - 场景：`GET /api/v1/saying/random?mode=recommend&scene=night`
>   - 此刻：`GET /api/v1/saying/random?mode=moment`

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetSayingRandomRequest
*/
func (a *PoemAPIService) GetSayingRandom(ctx context.Context) ApiGetSayingRandomRequest {
	return ApiGetSayingRandomRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetSayingRandom200Response
func (a *PoemAPIService) GetSayingRandomExecute(r ApiGetSayingRandomRequest) (*GetSayingRandom200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetSayingRandom200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PoemAPIService.GetSayingRandom")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/saying/random"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.mode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "mode", r.mode, "form", "")
	} else {
        var defaultValue string = "random"
        parameterAddToHeaderOrQuery(localVarQueryParams, "mode", defaultValue, "form", "")
        r.mode = &defaultValue
	}
	if r.scene != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scene", r.scene, "form", "")
	}
	if r.source != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source", r.source, "form", "")
	}
	if r.category != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "category", r.category, "form", "")
	}
	if r.tag != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tag", r.tag, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v GetSayingRandom400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetSayingRandom404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
